html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  text-align: left;
}

.manito {
  cursor: pointer;
}

.t-xs {
  font-size: 10px;
}
.t-sm {
  font-size: 12px;
}
.t-md {
  font-size: 14px;
}
.t-lg {
  font-size: 18px;
}
.t-xl {
  font-size: 22px;
}
.t-bl {
  font-weight: 600;
}
.t-un{
  text-decoration:underline;
  color:navy;
  white-space: nowrap;
}
.ta-left{
text-align: left !important;
}
.ta-right{
  text-align: right !important;
}
.ta-center{
  text-align: center !important;
}
.ta-justify{
  text-align: justify !important;
}

mat-error{
  text-align:right;
}

.card > .card-hd,
.card > .card-ft {
  width: 100%;
  background-color: #ddf;
  padding: 2px 4px 2px 4px;
  min-height:30px;
}
.card > .card-hd > .card-tt {
  font-size: 14px;
  padding-right:3px;
  font-weight: 600;
  font-family: "Verdana";
  font-style: italic;
}
.card > .card-bd {
  border: 1px solid #ddf;
  padding: 4px;
}

.card .card-ico {
  color: #888;
}

.marco {
  padding: 4px;
}

.mat-ico-16 {
  width:16px;
  height:16px;
  transform: scale(0.7);
  vertical-align: bottom;
}

.mat-ico-20 {
  width:20px;
  height:20px;
  transform: scale(0.75);
  vertical-align: bottom;
}

.btn-nominus {
  background-color: #16168d;
  color: #eeeeee;
}

mnu-activo{
  color: lightslategray;
}
