<!--The content below is only a placeholder and can be replaced.-->
<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <qr-code [value]="jsonQR" [size]="200"></qr-code>
  <div style="font-size:22px;" [title]="hash">Aula <strong>{{aula}}</strong></div>
  <div style="font-size:14px;">{{ hora | date:'dd/MM/yyyy HH:mm' }}</div>

</div>

