<div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
  <div *ngIf="!diario.oAsistencia" fxFlex="310px" fxLayoutAlign="center center" fxLayout="column">
    <span *ngIf="cargando===false">No se cargó horario para {{ diario.parDia.dDia }}</span>
    <span *ngIf="cargando===true">Calculando {{ diario.parDia.dDia }}, un momento...</span>
  </div>
  <div fxFlex="310px" *ngIf="diario.oAsistencia" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxFlex="36px" fxLayout="row" fxLayoutAlign="center stretch">
      <div fxFlex>
        <strong>{{diario["empleado"].xApellidos}}&nbsp;{{diario["empleado"].xNombre}}</strong><br><small>{{diario["empleado"].xCargo}}</small>
      </div>
      <div>{{diario.oAsistencia.dFecha | date: "dd/MM/yyyy"}}</div>
    </div>
    <div fxFlex="6px" style="border-top: 1px solid #777"></div>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="260px">
      <div fxFlex fxFill *ngIf="diario.oAsistencia && diario.oAsistencia.aFlujo.length>0" fxLayout="column"
        fxLayoutAlign="start stretch" fxLayoutGap="3px">
        <div>
          <div fxLayout="row" style="font-size:11px;color:#555;">
            <div fxFlex="84px">Control</div>
            <div fxFlex="42px" fxFlexAlign="center">Horario</div>
            <div fxFlex="42px" fxFlexAlign="center">Marcado</div>
            <div fxFlex="30px"></div>
            <div fxFlex="30px">Inc</div>
            <div fxFlex="60px">Papeleta</div>
            <div fxFlex="150px" *ngIf="selTipoIncidencia===1" fxLayout="row" fxLayoutAlign="center center">
              <span *ngIf="calcAusencias()!==0">
                Jornadas ausentes</span>
              <span *ngIf="calcAusencias()===0">
                <strong>No tiene ausencias!</strong></span>
            </div>
            <div fxFlex="150px" *ngIf="selTipoIncidencia===2" fxLayout="row" fxLayoutAlign="center center">
              <span>Hora de Salida</span>
            </div>

          </div>
        </div>
        <div *ngFor="let flu of diario.oAsistencia.aFlujo; let idx=index; let par=odd"
          style="font-size:11px;font-weight: 600;">
          <div fxLayout="row">
            <div fxFlex="84px">{{ flu.xControl }}</div>
            <div fxFlex="42px" fxFlexAlign="center">
              {{ flu.dHoraHorario | date:'HH:mm' }}
            </div>
            <div fxFlex="48px" fxFlexAlign="center">
              {{ flu.dHoraControl | date:'HH:mm:ss' }}
            </div>
            <div fxFlex="30px">
              <span class="badge-marca" *ngIf="flu.iMarcacion > 0">
                {{ flu.iMarcacion % 10000 }}</span>
            </div>
            <div fxFlex="30px" [matTooltip]="flu.xIncidencia">
              <span *ngIf="flu.sIncidencia > 0">{{
                  flu.sIncidencia
                  }}</span>
            </div>
            <div fxFlex="60px">
              <span *ngIf="flu.bTipoPapeleta">{{ flu.bTipoPapeleta }}-{{ flu.iPapeleta }}</span>
            </div>
            <div fxFlex="150px" *ngIf="selTipoIncidencia===1" fxLayout="row" fxLayoutAlign="center center">
              <input type="checkbox" *ngIf="!par&&!flu.dHoraControl" [(ngModel)]="flu.marcaAusente">
            </div>
            <div fxFlex="150px" *ngIf="selTipoIncidencia===2" fxLayout="row" fxLayoutAlign="center center">
              <input type="text" mask="Hh:m0:s0" *ngIf="par" [(ngModel)]="flu.dSalidaExtra">
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="150px" fxFill fxLayout="column" fxLayoutAlign="start stretch" style="overflow-y:auto"
        *ngIf="selTipoIncidencia===0">
        <div style="border-bottom: 2px solid #bbb" fxFlexAlign="center" fxFlexAlign="stretch" fxFlex="22px">
          Marcaciones
        </div>
        <!-- <div fxFlex style="font-size:12px;overflow-y:auto;"> -->
        <div fxFlex style="font-size:11px">
          <div *ngFor="let cmar of diario.aMarcacion" fxLayout="column">
            <div fxLayout="row">
              <div fxFlex>
                <span>{{ cmar.dHora | date: "dd/MM/yyyy HH:mm:ss" }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start stretch" style="font-size:7pt;">
              <div fxFlex>
                <div [matTooltip]="cmar.xEstablecimiento">
                  <strong>{{ cmar.xDispositivo }}</strong>
                </div>
              </div>
              <div>
                <span class="badge-marca" *ngIf="cmar.iMarcacion > 0">
                  {{ cmar.iMarcacion % 10000 }}</span>
              </div>
            </div>
          </div>
        </div>
        <mat-form-field>
          <input matInput placeholder="Agregar (HH:mm:ss)" mask="Hh:m0:s0" [formControl]="nvaMarca" />
          <mat-icon matSuffix class="manito" svgIcon="alarm-plus"></mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="6px" style="border-top: 1px solid #777"></div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center stretch">
      <div fxFlex>
        <mat-form-field>
          <mat-select placeholder="" [(value)]="selTipoIncidencia">
            <mat-option *ngFor="let cti of tiposIncidencia" [value]="cti.bTipoIncidencia">
              {{cti.xTipoIncidencia}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <button mat-button fxLayout="row" fxLayoutAlign="center center" (click)="crearAusencia()"
          *ngIf="selTipoIncidencia===1&&calcAusenciasMarcadas()>0">
          <mat-icon svgIcon="note-plus-outline"></mat-icon><span> Papeleta de Ausencia</span>
        </button>
        <button mat-button fxLayout="row" fxLayoutAlign="center center" (click)="crearExtras()"
          *ngIf="selTipoIncidencia===2&&calcExtrasMarcadas()>0">
          <mat-icon svgIcon="note-plus-outline"></mat-icon><span> Papeleta de Horas Extras</span>
        </button>
        <button mat-button fxLayout="row" fxLayoutAlign="center center" (click)="desmarcar()"
          *ngIf="selTipoIncidencia===0">
          <mat-icon svgIcon="timer-off"></mat-icon><span> Desmarcar</span>
        </button>
        <button mat-button fxLayout="row" fxLayoutAlign="center center" (click)="revaluar()">
          <mat-icon svgIcon="timetable"></mat-icon><span> Revaluar</span>
        </button>
      </div>
    </div>
  </div>
</div>
