<div class="d-flex flex-column p-2">
  <div class="card" style="min-width:310px">
    <div class="card-header p-1 d-flex flex-row align-content-between align-items-center">
      <span class="card-title">
        <i class="fas fa-envelope" aria-hidden="true"> </i>
        <span>&nbsp;Validando su correo electrónico...</span>
      </span>
    </div>
    <div class="card-body">
      <form novalidate [formGroup]="valForm" (submit)="onCompletarValidacion()" *ngIf="verifStatus.mode=='signIn2'||verifStatus.mode=='signLess'">
        <div class="form-group" ngClass="{'control-error':valForm.controls['email'].errors}">
          <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
          <label for="email" class="form-control-placeholder" *ngIf="verifStatus.mode=='signLess'">Correo electrónico</label>
        </div>
        <div class="form-group" ngClass="{'control-error':valForm.controls['displayName'].errors}">
          <input type="text" id="name" name="name" class="form-control" formControlName="displayName" required>
          <label for="email" class="form-control-placeholder">Nombre</label>
        </div>
          <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" formControlName="password" required>
            <label for="password" class="form-control-placeholder">Contraseña</label>
          </div>
          <div class="form-group">
            <input type="password" id="verificar" name="verificar" class="form-control" formControlName="verificar" required>
            <label for="verificar" class="form-control-placeholder">Repetir contraseña</label>
          </div>
        <div class="d-flex flex-row align-items-stretch m-0 p-0">
          <ul class="navbar-nav small">
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['displayName'].pristine&&valForm.controls['displayName'].errors?.maxlength">Nombre muy largo.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['displayName'].pristine&&valForm.controls['displayName'].errors?.minlength">Nombre muy corto.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['displayName'].pristine&&valForm.controls['displayName'].errors?.required">Nombre requerido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['email'].pristine&&valForm.controls['email'].errors?.required">E-mail requerido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['email'].pristine&&valForm.controls['email'].errors?.pattern">E-mail inválido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['password'].pristine&&valForm.controls['password'].errors?.pattern">Contraseña de sólo letras y números.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['password'].pristine&&valForm.controls['password'].errors?.minlength">Contraseña de mínimo 6 caracteres.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['password'].pristine&&valForm.controls['password'].errors?.required">Contraseña requerida.</li>
            <li class="nav-item form-control-invalid" *ngIf="!valForm.controls['password'].pristine&&valForm.controls['verificar'].errors?.validateEquals">Las contraseñas no coinciden.</li>
          </ul>
          <button class="btn btn-sm m-2 ml-auto" [disabled]="valForm.invalid">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>&nbsp;Registrarse
          </button>
        </div>
      </form>
      <div class="d-flex flex-column p-2" *ngIf="verifStatus.mode=='signNo'">
        No se pudo verificar su correo.
        <br>
        <small>Deberá iniciar de nuevo su solicitud de ingreso.</small>
      </div>
    </div>
  </div>
</div>