agm-map{
  height:320px;
  width:100%;
}

.color1{
  background-color:#000000;
}
.color2{
  background-color:#0000ff;
}
.color1{
  background-color:#00ff00;
}
.color1{
  background-color:#ff0000;
}
.color1{
  background-color:#00bbbb;
}
.color1{
  background-color:#bb00bb;
}
.color1{
  background-color:#bbbb00;
}

.area-stick{
  padding: 7px;
  margin: 1px;
  color: white;
  border-radius: 6px;
}
