<div fxFill fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="center">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.xs="100%" fxFlex="800px">
    <div>
      <agm-map [latitude]="gmap.lat" [longitude]="gmap.lng" [zoom]="mapZoom" #agmMap (mapClick)="clickMapa($event)"
        mapTypeControl="true" streetViewControl="false" fullScreenControl="false" usePanning="false">
        <agm-marker *ngIf="caminar" [latitude]="caminar.lat" [longitude]="caminar.lng" iconUrl="../../assets/maps/male-2.png"></agm-marker>
        <agm-marker *ngIf="ajustar" [latitude]="ajustar.lat" [longitude]="ajustar.lng"></agm-marker>
        <agm-marker *ngIf="clicar" [latitude]="clicar.lat" [longitude]="clicar.lng" iconUrl="../../assets/maps/house.png"></agm-marker>
        <agm-polygon *ngIf="arear&&arear.length>2" [paths]="arear" strokeColor="#666" fillColor="#666" [fillOpacity]="0.2"></agm-polygon>
        <agm-polygon *ngFor="let poli of areas" [paths]="poli.puntos" [strokeColor]="poli.stroke" [fillColor]="poli.stroke"
          [fillOpacity]="0.2"></agm-polygon>
      </agm-map>
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="3px">
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex>
          <mat-select placeholder="Establecimiento" [(value)]="selEstablecimiento" (selectionChange)="chEstablecimiento()">
            <mat-option *ngFor="let cesta of establecimientos" [value]="cesta">
              {{cesta.xEstablecimiento}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="120px" fxLayout="row" fxLayoutAlign="center center">
          <button mat-button>
            <mat-icon [svgIcon]="'map-marker'+((caminar)?'':'-off')" (click)="toggleCaminar()"></mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row " fxLayoutAlign="center center" *ngIf="selEstablecimiento">
        <div fxLayout="row wrap">
          <div fxLayout="row" *ngFor="let poli of areas">
            <div fxFlex="80px" class="area-stick manito" [ngStyle]="{'background-color': poli.stroke }" (click)="chArea(poli)">
              Area {{poli.sOrtogono}}
            </div>
            <div fxFlex="80px" fxFlexAlign="center">
              <a class="manito" (click)="borrarArea(poli)">
                <mat-icon svgIcon="trash-can-outline"></mat-icon>
              </a>
              <mat-icon style="color:darkred;" *ngIf="caminando(poli)" svgIcon="walk"></mat-icon>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="80px" class="area-stick manito" style="background-color:#666" (click)="addArea()">
              Agregar
            </div>
            <div fxFlex="80px" fxFlexAlign="center">
              <a class="manito" (click)="cancelArear()" *ngIf="arear">
                <mat-icon svgIcon="cancel"></mat-icon>
              </a>
              <a class="manito" (click)="addArea()" *ngIf="(arear)&&arear.length>2">
                <mat-icon svgIcon="send"></mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
