<div class="d-flex flex-column p-2" #signInit *ngIf="(authService.user|async) else sinLogin">
  <div class="card">
    <div class="card-header p-1 d-flex flex-row align-content-between align-items-center">
      <span class="card-title">
        <i class="fas fa-user" aria-hidden="true"> </i>
        <span>&nbsp;Información del usuario</span>
      </span>
    </div>
    <div class="card-body d-flex flex-row">
      <div class="d-flex flex-column align-content-center align-items-center justify-content-center p2 bg-light" style="min-width:50px;min-height:50px;">
        <img [src]="(authService.user|async)?.photoURL||''" style="height:50px;" class="rounded" />
      </div>
      <div class="d-flex flex-column p-2">
        <h5>{{(authService.user|async)?.displayName}}</h5>
        <span>{{(authService.user|async)?.email}}</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column pt-2">
      <button class="btn btn-block btn-sm nom-btn" [disabled]="(authService.user|async)?.providerData[0].providerId!='password'"><i class="fas fa-camera-retro"></i> Subir nueva foto</button>
      <button class="btn btn-block btn-sm nom-btn" [disabled]="(authService.user|async)?.providerData[0].providerId!='password'"><i class="fas fa-edit"></i> Cambiar datos</button>
      <button class="btn btn-block btn-sm nom-btn" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
    </div>
</div>
<ng-template class="d-flex flex-column" #sinLogin>
  <div class="card" style="width:310px">
    <div class="card-header p-1 d-flex flex-row align-content-between align-items-center">
      <span class="card-title">
        <i class="fas fa-envelope" aria-hidden="true"> </i>
        <span *ngIf="esLogin">&nbsp;Inicia sesión...</span>
        <span *ngIf="!esLogin">&nbsp;Regístrate...</span>
      </span>
      <a class="ml-auto" (click)="toggleLogin()">
        <small class="manito" *ngIf="esLogin">eres nuevo?</small>
        <small class="manito" *ngIf="!esLogin">ya tienes cuenta?</small>
      </a>
    </div>
    <div class="card-body" style="min-height: 250px;">
      <form novalidate [formGroup]="logForm" (submit)="onSubmitLogin()" *ngIf="esLogin">
        <div class="form-group" ngClass="{'control-error':logForm.controls['email'].errors}">
          <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
          <label for="email" class="form-control-placeholder">Correo electrónico</label>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control" formControlName="password" required>
          <label for="password" class="form-control-placeholder">Contraseña</label>
        </div>
        <div class="d-flex flex-row align-items-stretch m-0 p-0">
          <ul class="navbar-nav small">
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['email'].pristine&&logForm.controls['email'].errors?.required">E-mail requerido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['email'].pristine&&logForm.controls['email'].errors?.pattern">E-mail inválido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['password'].pristine&&logForm.controls['password'].errors?.pattern">Contraseña de sólo letras y números.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['password'].pristine&&logForm.controls['password'].errors?.minlength">Contraseña de mínimo 6 caracteres.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['password'].pristine&&logForm.controls['password'].errors?.required">Contraseña requerida.</li>
          </ul>
          <button class="btn btn-sm nom-btn m-2 ml-auto" [disabled]="logForm.invalid">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>&nbsp;Ok
          </button>
        </div>
      </form>
      <form novalidate [formGroup]="regForm" (submit)="onSubmitRegistro()" *ngIf="!esLogin">
        <span class="small"><b>Paso 1.</b> Se requiere la verificación de su correo electrónico:</span>
        <br>
        <br>
        <div class="d-flex flex-row">
          <div class="form-group flex-grow-1" ngClass="{'control-error':regForm.controls['email'].errors}">
            <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
            <label for="email" class="form-control-placeholder">Correo electrónico</label>
          </div>
          <div>
            <button class="btn btn-sm p-2 ml-auto" [disabled]="regForm.invalid">
              <i class="fas fa-question-circle" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="d-flex flex-row align-items-stretch m-0 p-0">
          <ul class="navbar-nav small">
            <li class="nav-item form-control-invalid" *ngIf="!regForm.controls['email'].pristine&&regForm.controls['email'].errors?.required">E-mail requerido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!regForm.controls['email'].pristine&&regForm.controls['email'].errors?.pattern">E-mail inválido.</li>
          </ul>
        </div>
        <span class="small"><b>Paso 2.</b> Se enviará a su correo electrónico un link para continuar con el registro.</span>
      </form>
    </div>
    <div class="card-header d-flex flex-column align-items-center border-top">
      <small>
        <span class="small">Simplifique su ingreso usando su cuenta de red social:
          <br>
          <br>
        </span>
      </small>
      <div class="d-flex flex-row w-100 justify-content-center">
        <button class="btn btn-google ml-1 mr-1" (click)="onClickGoogleLogin()">
          <i class="fab fa-google-plus-square fa-lg" aria-hidden="true"></i>&nbsp;Google+
        </button>
        <button class="btn btn-facebook ml-1 mr-1" (click)="onClickFacebookLogin()">
          <i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i>&nbsp;Facebook
        </button>
      </div>
    </div>
  </div>
</ng-template>