<mat-sidenav-container>
  <mat-sidenav mode="side" #navIzq fxLayout="column" fxLayoutAlign="start stretch">
    <a class="logo" [routerLink]="'/home'"></a><img fxFlex="80px" fxFlexAlign="center" src="/assets/logos/uladech.png"
      width="120" />
    <div fxFlex="30px">&nbsp;</div>
    <ul>
      <li *ngFor="let csm of siMenu">
        <a [routerLink]="csm.link" (click)="navIzq.close()" fxLayout="row" fxLayout="center stretch" [routerLinkActive]="['mnu-activo']">
          <mat-icon class="mat-ico-20" [svgIcon]="csm.icono.base"></mat-icon>
          <span fxFlex fxFlexOffset="4px">{{csm.menu}}</span>
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header" fxLayout="row" fxLayoutAlign="start center" #header>
      <a fxFlex fxFlexOffset="6px" (click)="navIzq.toggle()"><mat-icon svgIcon="menu"></mat-icon></a>
      <div fxFlex fxFlexFill>&nbsp;</div>
      <a fxFlex fxLayout="row" *ngIf="(authService.user|async) else noSesion" (click)="aLog()" class="manito">
        <div fxFlex fxLayout="column" fxLayoutAlign="center end">
          <span fxFlex style="color:navy;font-weight: 600; padding-right: 6px;
          white-space: nowrap;">{{(authService.user|async)?.displayName}}</span>
          <span fxFlex style="color:navy; padding-right:6px;font-size:10pt;">{{(authService.user|async)?.email}}</span>
        </div>
        <img [src]="(authService.user|async)?.photoURL||''" style="height:40px;" />
      </a>
      <ng-template #noSesion>
        <a class="manito" (click)="aLog()" fxFlex fxLayout="row" fxLayoutAlign="center center">
          <div class="manito t-sm">debe iniciar sesión</div>
        </a>
      </ng-template>
    </div>
    <div class="content" height-100 [footerElement]="footer" [headerElement]="header" style="padding:4px; text-align: center;">
      <router-outlet></router-outlet>
    </div>
    <div class="footer" #footer fxLayout="row" fxLayoutAlign="end center">
      <span style="color:white;">&copy;2018 <strong>asistencia</strong>.uladech.edu.pe&nbsp;</span>&nbsp;&nbsp;
      <span style="color:lightgray;">v1.0.0-beta</span>&nbsp;
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div toastContainer></div>
