mat-sidenav {
  background-color: #b90b0b;
  padding: 20px 0 4px 0;
  min-width: 150px;
}

.header,
.footer {
  background-color: rgb(206, 149, 65);
}

.header {
  height: 40px;
}

.footer {
  height: 18px;
  font-size: 8pt;
}

.logo {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.content {
  background-color: #eef;
  padding: 5px 0 3px 0;
}
.mnuActivo {
  background-color:#262664;
}

ul > li > a {
  text-decoration: none;
  display: block;
  padding: 4px;
  font-size: 11pt;
  font-weight: 500;
  color:white;
}

ul > li > a:hover {
  color: rgb(238, 197, 144);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul > li {
  border-bottom: 1px dashed #c73737;
}

li > a > mat-icon svg {
background-color:red;
width:20px !important;
height:20px !important;
}

li > a {
  line-height: 20px !important;
}

