<div fxLayout="column" fxFill fxLayoutAlign="start stretch">
  <div fxFlex="80px" class="header" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="120px" fxFlexAlign="center">
      <img src="../assets/logos/logoUladech.png" width="90" />
    </div>
    <div fxFlex>
      <div fxFlex fxLayout="column" fxLayoutAlign="stretch stretch">
        <div fxFlex="42px" fxFlexFill fxLayout="row" fxLayoutAlign="end stretch">
          <a fxFlex fxLayout="row" *ngIf="(authService.user|async) else noSesion" (click)="aLog()" class="manito">
            <div fxFlex fxLayout="column" fxLayoutAlign="center end">
              <span fxFlex style="font-weight: 600; color:#ccc; padding-right: 6px;
                    white-space: nowrap;">{{(authService.user|async)?.displayName}}</span>
              <span fxFlex style="padding-right:6px;font-size:10pt; color:#888;">{{(authService.user|async)?.email}}</span>
            </div>
            <img [src]="(authService.user|async)?.photoURL||''" style="height:40px;" />
          </a>
          <ng-template #noSesion>
            <a class="manito" (click)="aLog()" fxFlex fxLayout="row" fxLayoutAlign="end center">
              <div class="manito t-sm" style="color:#bbbbbb;">debe iniciar sesión</div>
              <div fxFlex="20px"></div>
            </a>
          </ng-template>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center end">
          <div *ngIf="genMenu&&genMenu.length>1">
            <div class="menu-general manito" *ngFor="let cmg of genMenu" [class.menu-general-activo]="cmg.id===selMenu.id"
              (click)="chGenMenu(cmg.id)">
              <div fxLayout="row" fxLayout="center center">
                <mat-icon [svgIcon]="cmg.icono"></mat-icon>
                <span fxFlex fxFlexAlign="center">{{cmg.nombre}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-drawer-container fxFlex autosize>
    <mat-drawer mode="side" opened>
      <div fxFill fxLayout="column" fxLayoutAlign="stretch stretch">
        <div fxLayout="row" class="menu-general-nombre">
          <div fxFlex fxFlexAlign="center" *ngIf="(selMenu)&&!soloIconos">{{selMenu.nombre}}</div>
          <mat-icon class="mat-ico-20" svgIcon="menu" (click)="soloIconos=!soloIconos"></mat-icon>
        </div>
        <div fxFlex="20px">&nbsp;</div>
        <ul fxFlex>
          <li *ngIf="!(authService.user|async)">
            <a [routerLink]="'/login'" fxLayout="row" fxLayout="center stretch" [routerLinkActive]="['mnu-activo']">
              <mat-icon class="mat-ico-20" [svgIcon]="'login'"></mat-icon>
              <span fxFlex fxFlexOffset="4px" fxFlexAlign="center" *ngIf="!soloIconos">debe iniciar sesión</span>
            </a>
          </li>
          <li *ngFor="let csm of Menu">
             <a [routerLink]="csm.link" fxLayout="row" fxLayout="center stretch" [routerLinkActive]="['mnu-activo']">
              <mat-icon class="mat-ico-20" [svgIcon]="csm.icono"></mat-icon>
              <span fxFlex fxFlexOffset="4px" fxFlexAlign="center" *ngIf="!soloIconos">{{csm.nombre}}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div toastContainer></div>
