mat-drawer {
  background-color: black;
  padding: 20px 0 4px 0;
}

mat-drawer-content {
  background-color: white;
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-image: url('../assets/logos/fondo1.png'), url('../assets/logos/fondo2.png');
  background-size: 90px,100px;
  padding: 6px;
}

.header {
  height: 40px;
  background-color: #ac2930;
}

.footer {
  height: 18px;
  font-size: 8pt;
  background-color: #f7e426;
}

.mnu-activo{
 background-color: #570c0c;
 color: #ffcccc;
}

.logo {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.content {
  background-color: #eef;
  padding: 5px 0 3px 0;
}


ul > li > a, .menu-general-nombre {
  text-decoration: none;
  display: block;
  padding: 4px;
  font-size: 10pt;
  font-weight: 500;
  color:#c0aeae;
}

.menu-general-nombre{
  font-weight: 700;
  color: #ffffdd;
}

ul > li > a:hover {
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul > li {
  border-bottom: 1px dashed #992222;
}

li > a > mat-icon svg {
background-color:red;
width:20px !important;
height:20px !important;
}

li > a {
  line-height: 20px !important;
}

.menu-general{
  border:1px solid #686868;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  padding: 6px 6px 0px 6px;
  font-size: 9pt;
  font-weight: 600;
}
.menu-general-activo{
  background-color: white;
}

.menu-general:hover {
  background-color: white;
  opacity: 0.5;
}
.menu-general-activo:hover {
  background-color: white;
  opacity: 1;
}
