html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.manito{
  cursor: pointer;
}

.pp1 {
  border: 1px solid red;
}
.pp2 {
  border: 1px solid green;
}
.pp3 {
  border: 1px solid yellow;
}
.pp4 {
  border: 1px solid blue;
}
.mat-ico-16 {
  transform: scale(0.66);
  vertical-align: bottom;
}

.mat-ico-20 {
  transform: scale(0.75);
  vertical-align: middle;
}

.rotar180 {
  transform: rotate(180deg);
}

.n-panel,
.c-panel,
.w-panel {
  padding: 4px;
  border-radius: 4px;
}

.n-panel {
  border: 1px solid #bbb;
  background-color: #eee;
}
.c-panel {
  border: 1px solid #fb9;
  background-color: #fcc;
}
.w-panel {
  border: 1px solid #ff8;
  background-color: #ffb;
}

.n-panel-footer {
  border-top: 1px solid #aaa;
}

.t-xs {
  font-size: 10px;
}
.t-sm {
  font-size: 12px;
}
.t-md {
  font-size: 14px;
}
.t-lg {
  font-size: 18px;
}
.t-xl {
  font-size: 22px;
}
.t-bl {
  font-weight: 600;
}
.t-un{
  text-decoration:underline;
  color:navy;
  white-space: nowrap;
}
.ta-left{
text-align: left !important;
}
.ta-right{
  text-align: right !important;
}
.ta-center{
  text-align: center !important;
}
.ta-justify{
  text-align: justify !important;
}
