<div fxLayout="column" fxLayoutAlign="stretch stretch">
  <div class="spinner-container" fxFlex fxFlexAlign="center" fxFlexOffset="40px"
    *ngIf="iniciando||(authService.loading|async)">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="(authService.user|async)" fxLayout="row" fxLayoutAlign="center
    stretch" class="marco">
    <div fxLayout="column" class="card"
      fxLayoutAlign="stretch stretch" fxFlex.xs="100vw" fxFlex.sm="80vw"
      fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw">

      <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon fxFlex="24px" class="card card-ico" svgIcon="cash-usd"></mat-icon>
        <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
          Préstamos</div>
      </div>
      <div class="card-bd" fxLayout="column" fxLayoutGap="4px"
        fxLayoutAlign="center stretch">
        <div fxLayout="row" fxLayoutAlign="stretch center"
          fxLayoutGap="2px">
          <mat-form-field fxFlex>
            <mat-select placeholder="contrato" [(ngModel)]="selContrato"
              (selectionChange)="chContrato()">
              <mat-option *ngFor="let cctt of authService.dropContratos|async"
                [ngStyle]="{'font-weight': cctt.lVigente ? '600' : '400'}"
                [value]="cctt.zContrato">{{cctt.xLabel}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z4" fxLayout="column">
          <div fxFlex fxflexAlign="center" *ngIf="(prestamos.prestamo|async).length==0">
            No tiene préstamos bajo este contrato
          </div>
          <table mat-table [dataSource]="prestamos.prestamo"
            *ngIf="(prestamos.prestamo|async).length>0">
            <ng-container cdkColumnDef="iPrestamo">
              <th mat-header-cell *cdkHeaderCellDef>#</th>
              <td mat-cell *cdkCellDef="let presta">{{presta.iPrestamo}}</td>
            </ng-container>
            <ng-container cdkColumnDef="dPrestamo">
              <th mat-header-cell *cdkHeaderCellDef>Fecha</th>
              <td mat-cell *cdkCellDef="let presta">{{presta.dPrestamo|date:'d/M/yy'}}</td>
            </ng-container>
            <ng-container cdkColumnDef="mValor">
              <th mat-header-cell *cdkHeaderCellDef>Total</th>
              <td mat-cell *cdkCellDef="let presta">{{presta.mValor}}</td>
            </ng-container>
            <ng-container cdkColumnDef="mPagos">
                <th mat-header-cell *cdkHeaderCellDef>Deducciones</th>
                <td mat-cell *cdkCellDef="let presta">{{presta.mPagos}}</td>
              </ng-container>
              <ng-container cdkColumnDef="mSaldo">
                  <th mat-header-cell *cdkHeaderCellDef>Deuda</th>
                  <td mat-cell *cdkCellDef="let presta">{{presta.mValor-presta.mPagos}}</td>
                </ng-container>

            <tr mat-header-row *cdkHeaderRowDef="colsPrestamo; sticky:true"></tr>
            <tr mat-row *cdkRowDef="let rpresta; columns: colsPrestamo;"
            [class.b-info]="selPrestamo===rpresta.iPrestamo"
              (click)="chPrestamo(rpresta)"></tr>
          </table>
        </div>
        <div class="mat-elevation-z4" fxLayout="column" *ngIf="cuotas.length>0">
          <div class="t-sm">
            Cuotas del préstamo #{{selPrestamo}}
          </div>
          <table mat-table [dataSource]="cuotas">
            <ng-container cdkColumnDef="dFecha">
              <th mat-header-cell *cdkHeaderCellDef>Fecha</th>
              <td mat-cell *cdkCellDef="let cuota">{{cuota.dFecha|date:'d/M/yy'}}</td>
            </ng-container>
            <ng-container cdkColumnDef="mValor">
              <th mat-header-cell *cdkHeaderCellDef>Cuota</th>
              <td mat-cell *cdkCellDef="let cuota">{{cuota.mValor}}</td>
            </ng-container>              <ng-container cdkColumnDef="iCalculoPlanilla">
              <th mat-header-cell *cdkHeaderCellDef>Deducido</th>
              <td mat-cell *cdkCellDef="let cuota">{{cuota.iCalculoPlanilla}}</td>
            </ng-container>


            <tr mat-header-row *cdkHeaderRowDef="colsPagos; sticky:true"></tr>
            <tr mat-row *cdkRowDef = "let rcuotas; columns: colsPagos"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
