<div class="d-flex flex-row align-items-stretch" height-100>
  <div class="d-flex flex-column nom-aside h-100">
    <div [@menuMax]="tamanho" class="d-flex flex-column align-items-center flex-fill pt-2">
      <div class="d-flex flex-row-reverse w-100 pr-2">
        <a (click)="toggleMenu()">
          <i class="fas fa-angle-double-left fa-lg fan-colorbt"></i>
        </a>
      </div>
      <div class="pb-4">
        <img src="/assets/logos/LogoNominusLt.png" width="80" />
      </div>
      <div>
        <ul class='nav flex-column' *ngFor="let csm of siMenu">
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="csm.link" class="nav-link text-nowrap" (click)="toggleMenu()">
              <span class="fa-layers fa-fw">
                <i [class]="csm.icono.base+' fan-colorb1'"></i>
                <i [class]="csm.icono.prima+' fan-colorb2'"></i>
              </span>
              <span class="pl-1">{{csm.menu}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="tamanho=='maxi'" [@opacoMax]="tamanho" class="d-flex flex-column w-100 nom-opaco" (click)="toggleMenu()">&nbsp;</div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex flex-row nom-header p-1 align-items-center">
      <div class="flex-grow-1 pl-2">
        <a (click)="toggleMenu()">
          <i id="btnTogg" class="fas fa-angle-double-right fa-lg"></i>
        </a>
      </div>
      <a class="d-flex flex-row manito" *ngIf="(authService.user|async) else noSesion" (click)="aLog()">
          <div class="d-flex flex-column pr-2">
              <span class="log-name right" style="color:navy;font-weight: 600;">{{(authService.user|async)?.displayName}}</span>
                <span class="log-email right" style="color:navy;">{{(authService.user|async)?.email}}</span>
          </div>
        <img [src]="(authService.user|async)?.photoURL||''" style="height:40px;" class="rounded"/>
      </a>
      <ng-template #noSesion class="d-flex-flex row">
          <a class="manito" (click)="aLog()">
              <small class="manito">debe iniciar sesión</small>
            </a>      
      </ng-template>
    </div>
    <div class="d-flex flex-row h-100 justify-content-center p-2" style="overflow-y:auto;overflow-x: hidden;">
      <router-outlet></router-outlet>
    </div>
    <div class="d-flex flex-row justify-content-end nom-footer">
      <span class="p-2 small text-white">&copy;2018 -
        <strong>Nominus</strong>
      </span>
      <span class="p-2 text-white small"><i>pwa.t-1.2</i></span>
    </div>

  </div>
</div>
<ng-snotify class="material"></ng-snotify>