<div fxFlex="800px" fxFlexAlign="center" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="8px">
  <div class="n-panel n-board" *ngIf="!perfilOk && sesionOk" fxLayout="column" fxLayoutAlign="center center">
    <span><strong>
        Su perfil no le permite acceder a la consola de Asistencia</strong></span>
    <span>Si considera que debe tener acceso, solicítelo a informática.</span>
  </div>
  <div class="board" fxFlex="640px" fxFill fxLayout="column" *ngIf="perfilOk && sesionOk">
    <div class="board-head" fxLayout="row" fxFill fxLayoutAlign="center stretch" fxFlex="50px">
      <div fxFlex="300px" fxFlexAlign="center">Marcación diaria</div>
      <div fxFlex fxFill></div>
      <div fxLayout="row" fxLayoutAlign="center stretch">
        <mat-form-field fxFlex fxFlexAlign="start">
          <input matInput [matDatepicker]="picker1" [formControl]="dDiaGraf1" [max]="hoy">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon svgIcon="chevron-down"></mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="board-body" fxLayout="column" fxLayoutAlign="center center">
      <svg width="600px" height="300px" viewBox="0 0 600 300" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g *ngIf="selMarcado.turnos && selMarcado.turnos.length>0">
          <text text-anchor="middle" x="300" y="290">{{selMarcado.xEstab}}</text>
          <line x1="0" x2="600" y1="200" y2="200" stroke="gray" stroke-width="1" />
          <g *ngFor="let tu of selMarcado.turnos">
            <rect [attr.x]="tu.centro-(tu.ancho||0)/2" [attr.y]="10+(190*((selMarcado.maxi-(tu.maxi||0))/selMarcado.maxi))"
              [attr.width]="tu.ancho||0" [attr.height]="190*((tu.maxi||0)/selMarcado.maxi)" [attr.stroke]="tu.color"
              fill="transparent"> </rect>
            <rect [attr.x]="tu.centro-(tu.ancho||0)/2" [attr.y]="10+(190*((selMarcado.maxi-(tu.E.marcado||0))/selMarcado.maxi))"
              [attr.width]="(tu.ancho||0)/2" [attr.height]="190*((tu.E.marcado||0)/selMarcado.maxi)" [attr.fill]="tu.color"
              stroke="transparent"> </rect>
            <rect [attr.x]="tu.centro" [attr.y]="10+(190*((selMarcado.maxi-(tu.S.marcado||0))/selMarcado.maxi))"
              [attr.width]="(tu.ancho||0)/2" [attr.height]="190*((tu.S.marcado||0)/selMarcado.maxi)" [attr.fill]="tu.color"
              stroke="transparent" opacity="0.6"> </rect>
            <text text-anchor="middle" [attr.x]="tu.centro" y="230">{{tu.cJornada}}</text>
            <text text-anchor="middle" [attr.x]="tu.centro-(tu.ancho||0)/4" y="214" font-size="11">E</text>
            <text text-anchor="middle" [attr.x]="tu.centro+(tu.ancho||0)/4" y="214" font-size="11">S</text>
            <text text-anchor="start" dominant-baseline="hanging" [attr.x]="tu.centro+6-tu.ancho/2"
              [attr.y]="14+(190*((selMarcado.maxi-(tu.E.marcado||0))/selMarcado.maxi))"
              font-size="12">{{tu.E.marcado}}</text>
            <text text-anchor="end" dominant-baseline="hanging" [attr.x]="tu.centro-6+tu.ancho/2"
              [attr.y]="14+(190*((selMarcado.maxi-(tu.S.marcado||0))/selMarcado.maxi))"
              font-size="12">{{tu.S.marcado}}</text>
            <text text-anchor="center" dominant-baseline="baseline" [attr.x]="tu.centro"
              [attr.y]="8+(190*((selMarcado.maxi-(tu.maxi||0))/selMarcado.maxi))" font-size="12">{{tu.maxi}}</text>
          </g>
          <text text-anchor="start" x="0" y="290" (click)="avanzar(-1)" class="manito">&lt;</text>
          <text text-anchor="end" x="600" y="290" (click)="avanzar(1)" class="manito">&gt;</text>
        </g>
        <g *ngIf="(!selMarcado.turnos || selMarcado.turnos.length===0) && lApiGrafico===false">
          <text text-anchor="middle" dominant-baseline="middle" x="300" y="150">No se cargó horario para el día {{ dDiaGraf1.value | date:'dd/MM/yyyy'}}</text>
        </g>
        <g *ngIf="lApiGrafico===true">
          <text text-anchor="middle" dominant-baseline="middle" x="300" y="150">Consultando {{ dDiaGraf1.value | date:'dd/MM/yyyy'}}, un momento por favor...</text>
        </g>
      </svg>
    </div>
  </div>

  <div *ngIf="perfilOk && sesionOk" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="board" fxFlex="130px" fxLayout="column" *ngIf="gRecluta">
      <div class="board-head" fxFlex="24px">Reclutamiento</div>
      <div class="board-body" fxFlex="200px" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" style="background-color:#660066;">
          <span style="font-size:20px;font-weight:700;color:white;">
            {{gRecluta.iTotal}}
          </span>
          <span style="font-size:12px;font-weight:700;color:lightgrey">
            personas
          </span>
        </div>
        <div fxFlex="6px"></div>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" style="background-color:#555500;">
          <span style="font-size:20px;font-weight:700;color:white;">
            {{gRecluta.iHuellas}}
          </span>
          <span style="font-size:12px;font-weight:700;color:lightgrey">
            con huella
          </span>
        </div>
        <div fxFlex="1px"></div>
        <div fxFlexFill fxLayout="column" fxLayoutAlign="center center" style="background-color:#555500;">
          <span style="font-size:20px;font-weight:700;color:white;">
            {{gRecluta.iVoces}}
          </span>
          <span style="font-size:12px;font-weight:700;color:lightgrey">
            con voz
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
