
<div [ngBusy]="_notifica">
  <div *ngIf="(authService.user|async)" fxLayout="row" fxLayoutAlign="center center" class="marco">
    <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column" *ngIf="notifica &&notifica.length>0">
        <table mat-table [dataSource]="notifica" class="mat-elevation-z4">
          <ng-container cdkColumnDef="iNotificacion">
            <td mat-cell *cdkCellDef="let noti" fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="30px" fxFlexAlign="center">
                  <img [src]="noti.jImagen" style="height:30px;width:30px;"
                    *ngIf="noti.jImagen">
                </div>
                <div fxFlex="30px" fxFlexAlign="center">
                  <mat-icon fxFlex="24px" class="card card-ico"
                    [svgIcon]="noti.xIcono"></mat-icon>
                </div>
              </div>
              <div class="ta-left">{{noti.dEnvio|date:'d/M/yy'}}</div>
            </td>
          </ng-container>
          <ng-container cdkColumnDef="xAsunto">
            <td mat-cell *cdkCellDef="let noti" class="ta-left">{{noti.xAsunto}}</td>
          </ng-container>
          <tr mat-row *cdkRowDef="let rNoti;columns:['iNotificacion','xAsunto']" class="manito"
            [class.not-B]="rNoti.bTipoNotificacion===1"
            [class.not-V]="rNoti.bTipoNotificacion===2"
            [class.not-A]="rNoti.bTipoNotificacion===3"
            [class.not-E]="rNoti.bTipoNotificacion===4"
            [class.not-noleido]="rNoti.dLeido==null"
            (click)="lanzarUrl(rNoti)"></tr>
        </table>
    </div>
  </div>
</div>
<div *ngIf="!(authService.user|async)" fxLayout="row" fxLayoutAlign="center
  center" class="marco">
  <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw"
    fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column">
    <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">Inicia
        sesión
        con tu correo personal.</div>
    </div>
    <div class="card-bd" fxFlex>
      <p>
        Utiliza el correo electrónico que has reportado a la empresa donde
        laboras.
      </p>
      <p>
        Esta aplicación está optimizada para dispositivos personales (tablets
        y
        smartphones) y por tanto</p>
      <div>
        <ul>
          <li>Se puede iniciar sesión (recomendado) con la cuenta de
            <strong>Google+</strong> ó
            <strong>Facebook</strong>, con el correo que coincida.</li>
          <li>La sesión abierta no se cierra con salir de la aplicación. Si
            estás en un dispositivo compartido con otros usuarios deberás
            <strong>cerrar sesión</strong> antes de cerrar la aplicación.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
