<div fxLayout="column" fxFill fxLayoutAlign="start stretch">
  <div fxFill fxFlex="44px" class="header" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex="150px">
      <img class="logo" src="../assets/logos/LogoH0_40.png" />
    </div>
    <div fxFlex fxFlexAlign="center">ULADECH - Asistencia</div>
    <div fxFlex="42px" fxFlexFill fxLayout="row" fxLayoutAlign="end stretch">
      <a fxFlex fxLayout="row" *ngIf="(auth.user|async)" (click)="aLog()" class="manito">
        <!-- <div fxFlex fxLayout="column" fxLayoutAlign="center end">
          <span fxFlex style="font-weight: 600; color:#ccc; padding-right: 6px;
                  white-space: nowrap;">{{(auth.user|async)?.displayName}}</span>
          <span fxFlex style="padding-right:6px;font-size:10pt; color:#888;">{{(auth.user|async)?.email}}</span>
        </div> -->
        <img [src]="(auth.user|async)?.photoURL||'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'"
          style="height:40px;" />
      </a>
    </div>
  </div>
  <mat-drawer-container autosize fxFlex>
    <mat-drawer mode="side" opened>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div fxFlex="18px" fxLayout="row" fxLayoutAlign="end">
          <mat-icon svgIcon="menu-open" (click)="soloIconos = !soloIconos" [class.rotar180]="soloIconos"></mat-icon>
        </div>
        <div fxFlex="12px"></div>
        <ul fxFlex>
          <li *ngIf="!(auth.user|async)">
            <a routerLink="/login" fxLayout="row" fxLayout="center stretch" routerLinkActive="mnu-activo">
              <mat-icon class="mat-ico-20" svgIcon="login"></mat-icon>
              <span fxFlex fxFlexOffset="4px" *ngIf="!soloIconos">Iniciar sesión</span>
            </a>
          </li>
          <li *ngFor="let csm of Menu">
            <a [routerLink]="csm.link" fxLayout="row" fxLayout="center stretch" [routerLinkActive]="['mnu-activo']">
              <mat-icon class="mat-ico-16" [svgIcon]="csm.icono.base"></mat-icon>
              <span fxFlex fxFlexOffset="4px" *ngIf="!soloIconos">{{
                csm.menu
                }}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div toastContainer></div>
