.logo {
  width: 120px;
  height: 32px;
}

.header {
  padding: 4px;
  background-color: #000;
  color: #ffe;
}

mat-drawer {
  background-color: rgb(125, 195, 125);
  padding: 20px 0 4px 0;
}

mat-drawer-content {
  padding: 10px 4px 6px 4px;
}

ul > li > a {
  text-decoration: none;
  display: block;
  padding: 4px;
  font-size: 11pt;
  font-weight: 500;
  color: white;
}

ul > li > a:hover {
  color: #3b43ad;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul > li {
  border-bottom: 1px dashed #262664;
}

li > a > mat-icon svg {
  width: 20px !important;
  height: 20px !important;
}

li > a {
  line-height: 20px !important;
}
