<div class="d-flex flex-column p-2 nom-xs" *ngIf="(authService.user|async)">
  <div class="d-flex flex-wrap pt-2 pb-0 align-self-center" *ngIf="calculos?.length>0; else noHayBoletas">
    <div class="form-group">
      <select [(ngModel)]="selContrato" class="form-control-sm" name="selcontrato" style="min-width:200px" (change)="chContrato()">
        <option class="small" *ngFor="let cctt of contratos" [value]="cctt.zContrato">{{cctt.xContrato}}</option>
      </select>
      <label for="selcontrato" class="form-control-placeholder">Contrato</label>
    </div>
    <div class="form-group">
        <select [(ngModel)]="xPeriodo" class="form-control-sm" name="selPeriodo" style="min-width:100px" (change)="chPeriodo()">
          <option class="small" *ngFor="let cper of periodos" [value]="cper">{{cper}}</option>
        </select>
        <label for="selPeriodo" class="form-control-placeholder">Periodo</label>
      </div>
      <div class="form-group">
        <select [(ngModel)]="selCalculo" class="form-control-sm" name="selCalculo" style="min-width:100px" (change)="chParcial()">
          <option class="small" *ngFor="let cpar of parciales" [value]="cpar.zCalculo">{{cpar.iCalculoPlanilla}}</option>
        </select>
        <label for="selCalculo" class="form-control-placeholder">B.E.</label>
      </div>
  </div>
  <div *ngIf="boleta!=null">
    <div id="acorBoleta">
    <ngx-loading [show]="dBusy"></ngx-loading>

      <div id="tituloHd" class="d-flex flex-row align-items-end border-bottom">
        <span class="small font-weight-bold flex-grow-1">{{boleta.titulo[0]}}</span>
        <strong class="ml-auto pr-2">{{boleta.cabecera[0].neto|currency:boleta.cabecera[0].monedaneto}}</strong>
        <a class="ml-auto" data-toggle="collapse" data-target="#tituloCn" aria-expanded="true" aria-controls="tituloCn" (click)="toggle('titulo')">
          <i id="tituloIco" class="fas fa-chevron-down"></i>
        </a>
      </div>
      <div id="tituloCn" class="collapse border border-top-0 pl-1 pr-1 bg-light" aria-labelledby="#tituloHd">
        <div class="d-flex flex-column small">
          <div *ngFor="let cti of boleta.titulo">
            {{cti}}
          </div>
        </div>
      </div>
      <div id="concepto1Hd">
        <a class="d-flex flex-row align-items-end border-bottom pt-2" data-toggle="collapse" data-target="#concepto1Cn" aria-expanded="true"
          aria-controls="concepto1Cn" (click)="toggle('concepto1')">
          <span class="small font-weight-bold flex-grow-1">
            ASISTENCIA
          </span>
          <i class="ml-auto" id="concepto1Ico" class="fas fa-chevron-down"></i>
        </a>
      </div>
      <div id="concepto1Cn" class="collapse border border-top-0 pl-1 pr-1 bg-light" aria-labelledby="#concepto1Hd">
        <div class="d-flex flex-column small">
          <div class="d-flex flex-row" *ngFor="let cti of boleta.concepto1">
            <span>{{cti.Concepto}}</span>
            <span class="ml-auto">{{cti.mMonto}}</span>
          </div>
        </div>
      </div>
      <div id="concepto2Hd">
        <a class="d-flex flex-row align-items-end border-bottom pt-2" data-toggle="collapse" data-target="#concepto2Cn" aria-expanded="true"
          aria-controls="concepto2Cn" (click)="toggle('concepto2')">
          <span class="small font-weight-bold flex-grow-1">{{boleta.cabecera[0].xingresos}}</span>
          <span class="ml-auto small font-weight-bold pr-2">{{sumaMonto(boleta.concepto2)|currency:boleta.cabecera[0].monedaneto}}</span>
          <i class="ml-auto" id="concepto2Ico" class="fas fa-chevron-down"></i>
        </a>
      </div>
      <div id="concepto2Cn" class="collapse border border-top-0 pl-2 pr-1 bg-light" aria-labelledby="#concepto2Hd">
        <div class="d-flex flex-column small">
          <div class="d-flex flex-row" *ngFor="let cti of boleta.concepto2">
            <span>{{cti.Concepto}}</span>
            <span class="pl-2">{{cti.MontoInfo}}</span>
            <span class="ml-auto">{{cti.mMonto|number:'0.2-2'}}</span>
          </div>
        </div>
      </div>
      <div id="concepto3Hd">
        <a class="d-flex flex-row align-items-end border-bottom pt-2" data-toggle="collapse" data-target="#concepto3Cn" aria-expanded="true"
          aria-controls="concepto3Cn" (click)="toggle('concepto3')">
          <span class="small font-weight-bold flex-grow-1">{{boleta.cabecera[0].xdescuentos}}</span>
          <span class="ml-auto small font-weight-bold pr-2">{{sumaMonto(boleta.concepto3)|currency:boleta.cabecera[0].monedaneto}}</span>
          <i class="ml-auto" id="concepto3Ico" class="fas fa-chevron-down"></i>
        </a>
      </div>
      <div id="concepto3Cn" class="collapse border border-top-0 pl-2 pr-1 bg-light" aria-labelledby="#concepto3Hd">
        <div class="d-flex flex-column small">
          <div class="d-flex flex-row" *ngFor="let cti of boleta.concepto3">
            <span>{{cti.Concepto}}</span>
            <span class="pl-2">{{cti.MontoInfo}}</span>
            <span class="ml-auto">{{cti.mMonto|number:'0.2-2'}}</span>
          </div>
        </div>
      </div>
      <div id="concepto4Hd">
        <a class="d-flex flex-row align-items-end border-bottom pt-2" data-toggle="collapse" data-target="#concepto4Cn" aria-expanded="true"
          aria-controls="concepto4Cn" (click)="toggle('concepto4')">
          <span class="small font-weight-bold flex-grow-1">{{boleta.cabecera[0].xempleador}}</span>
          <span class="ml-auto small font-weight-bold pr-2">{{sumaMonto(boleta.concepto4)|currency:boleta.cabecera[0].monedaneto}}</span>
          <i class="ml-auto" id="concepto4Ico" class="fas fa-chevron-down"></i>
        </a>
      </div>
      <div id="concepto4Cn" class="collapse border border-top-0 pl-2 pr-1 bg-light" aria-labelledby="#concepto4Hd">
        <div class="d-flex flex-column small">
          <div class="d-flex flex-row" *ngFor="let cti of boleta.concepto4">
            <span>{{cti.Concepto}}</span>
            <span class="pl-2">{{cti.MontoInfo}}</span>
            <span class="ml-auto">{{cti.mMonto|number:'0.2-2'}}</span>
          </div>
        </div>
      </div>
      <div id="concepto5Hd">
        <a class="d-flex flex-row align-items-end border-bottom pt-2" data-toggle="collapse" data-target="#concepto5Cn" aria-expanded="true"
          aria-controls="concepto5Cn" (click)="toggle('concepto5')">
          <span class="small font-weight-bold flex-grow-1">IMPRESO</span>
          <i class="ml-auto" id="concepto5Ico" class="fas fa-chevron-down fa-rotate-180"></i>
        </a>
      </div>
      <div id="concepto5Cn" class="collapse show border border-top-0 pl-2 pr-1" aria-labelledby="#concepto5Hd">
        <div class="d-flex flex-column small align-items-center flex-fill">
          <div class="d-flex flex-row">
            <div class="d-flex flex-row align-content-center">
              <div class="d-flex flex-column-reverse">
                <span class="small text-gray">Click en el código QR para ver ó imprimir desde este dispositivo</span>
                <span class="small text-gray">Escanee el código para ver ó imprimir desde otro dispositivo</span>
              </div>
              <a target="belPDF" [href]="boleta.pdf.xUrl" rel="noopener">
                <qr-code [value]="boleta.pdf.xUrl"></qr-code>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noHayBoletas>
    <div *ngIf="cBusy==false" class="d-flex flex-column pt-4">
      <span><i class="fas fa-times-circle text-danger"></i>&nbsp;No se han encontrado boletas.</span>
      <small *ngIf="cBusy==false">Solicite información de remuneraciones directamente a su empleador.</small>
    </div>
    <div *ngIf="cBusy" class="pt-4 d-flex flex-column align-items-center align-content-center justify-content-center d-block">
      <span class="fa-stack fa-2x">
        <i class="fas fa-spinner fa-stack-2x fa-pulse text-primary"></i>
        <i class="fas fa-compass fa-stack-1x fa-spin text-success"></i>
      </span>
      <span class="text-primary p-3">
        <strong>
          <i>calculando...</i>
        </strong>
      </span>
    </div>
  </ng-template>
</div>
