<div fxLayout="row" fxFill fxLayoutAlign="center start">
  <mat-progress-bar mode="indeterminate" *ngIf="!(sesion)"></mat-progress-bar>
  <div fxLayout="column" fxFlex.xs="1 1 100%" fxFlex="600px" *ngIf="sesion">
    <mat-tab-group fxFlexAlign="stretch" dynamicHeight mat-align-tabs="center" [selectedIndex]="selTab.value"
      (selectedIndexChange)="selTab.setValue($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="account-clock"></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <mat-accordion multi="true">
            <mat-expansion-panel expanded="true" *ngIf="!esperandoQR">
              <mat-expansion-panel-header>
                <!-- <mat-panel-title>Horario</mat-panel-title> -->
                <mat-panel-title>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker1" [formControl]="selDia" [max]="hoy">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div *ngIf="horario.length==0" fxLayout="column">
                  No se ha cargado horario para este dia
                </div>
                <div *ngIf="horario.length>0" fxLayout="column">
                  <div *ngFor="let cho of horario" fxLayout="column"
                    style="border-bottom:1px solid #ddd;padding: 4px 0;">
                    <div fxLayout="row" fxLayout="start stretch">
                      <div fxFlex="84px">{{cho.xControl}}</div>
                      <div fxFlex="45px" fxFlexAlign="center" *ngIf="!cho.dHoraControl" style="color:#666;">
                        {{cho.dHoraHorario|date:'HH:mm:ss'}}</div>
                      <div fxFlex="45px" fxFlexAlign="center"
                        [class.azul]="cho.bTipoPapeleta&&cho.bTipoPapeleta>0&&100>cho.bTipoPapeleta"
                        [class.rojo]="cho.bTipoPapeleta&&cho.bTipoPapeleta>100"
                        [class.verde]="!cho.sIncidencia||cho.sIncidencia==0">{{cho.dHoraControl|date:'HH:mm:ss'}}</div>
                      <div fxFlex [matTooltip]="cho.xIncidencia" fxLayout="row" fxLayoutAlign="end stretch">
                        <span *ngIf="cho.sIncidencia>0">{{cho.xIncidencia}}</span>
                      </div>
                      <!-- <div fxFlex="1 1 65%"><span *ngIf="cho.bTipoPapeleta">{{cho.bTipoPapeleta}}-{{cho.iPapeleta}}</span></div> -->
                    </div>
                    <div style="background-color:#ddf;" fxLayout="column" fxLayout="start strech" *ngIf="cho.oMarcacion"
                      fxLayoutGap="1px">
                      <div fxFlex fxFlexAlign="end" style="font-size:11px">Marcado con {{cho.oMarcacion.xDispositivo}}
                        en
                        {{cho.oMarcacion.xEstablecimiento}} <strong>
                          {{cho.oMarcacion.dHora | date:'dd/MM/yyyy HH:mm:ss'}}</strong></div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="(marcaPendiente==true || marcaPendienteDocente==true ) && !esperandoQR" [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>Marcar asistencia</mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div fxLayout="column" fxLayoutAlign="start stretch">
                  <div fxFlex="60px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                    <span fxFlex>Presiona el botón para hacer marcación con voz</span>
                    <button mat-stroked-button (click)="geoUbicado()" *ngIf="!marcando">
                      <mat-icon svgIcon="microphone" class="btn-suffix verde"></mat-icon>
                    </button>
                    <button mat-stroked-button (click)="terminarMarca()" *ngIf="marcando">
                      <mat-icon svgIcon="record-rec" class="btn-suffix rojo"></mat-icon>
                    </button>
                  </div>
                  <div flex="20px" *ngIf="!esperandoQR && marcaPendienteDocente==true"></div>
                  <div fxFlex="60px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px" *ngIf="QRon">
                    <span fxFlex *ngIf="!esperandoQR && marcaPendienteDocente==true">Presiona el botón para hacer marcación con el código QR del
                      aula</span>
                    <button mat-stroked-button (click)="habilitarCam(1)" *ngIf="!esperandoQR && marcaPendienteDocente==true">
                      <mat-icon svgIcon="qrcode" class="btn-suffix verde"></mat-icon>
                    </button>
                  </div>
                </div>
              </ng-template>
            </mat-expansion-panel>
            <nom-qr (QRLeido)="qrLeido($event)" (devs)="videos($event)" *ngIf="esperandoQR"></nom-qr>
          </mat-accordion>

        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="calendar-clock"></mat-icon>
        </ng-template>
        <div>
          <h5>Solicitar permisos</h5>
        </div>
        <div>No puedes solicitar permisos en este momento.</div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="clock-alert-outline"></mat-icon>
        </ng-template>
        <div>
          <h5>Incidencias pendientes</h5>
        </div>
        <div>No tienes incidencias en tu asistencia.</div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="microphone"></mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <div fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
            <h5 fxFlexAlign="center">Grabar voces</h5>
            <div *ngIf="!_reclutado" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px">
              <span fxFlex>Presiona el botón cuando el funcionario de RRHH se lo indique</span>
              <button mat-stroked-button (click)="reclutado()">
                <mat-icon svgIcon="check" style="font-weight:800;font-size:20px;color:green;" fxFlexAlign="center">
                </mat-icon>
              </button>
            </div>
            <div *ngIf="vozActiva" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px">
              <span fxFlex>
                pronuncie <br /> <strong>{{ vozActiva.xFrase }}</strong>
              </span>
              <button mat-stroked-button (click)="initiateRecording()" *ngIf="!recording">
                <mat-icon svgIcon="microphone" style="color:darkgreen;"></mat-icon>
              </button>
              <button mat-stroked-button (click)="stopRecording()" fxFlexAlign="center" *ngIf="recording">
                <mat-icon svgIcon="record-rec" style="color:darkred;"></mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
