  <div id="accordion" class="nom-marco">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <small><strong>Iniciar Sesión</strong></small>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="p-2 small text-gray">Identifíquese con el correo electrónico personal que por ley le ha informado a la empresa y su respectiva contraseña.</div>
        <form class="card-body" novalidate (submit)="callLogin()" #loginF="ngForm">
          <ngx-loading [show]="busy"></ngx-loading>
          <div class="form-group">
            <input id="fl-in" #flIn="ngModel" name="fl-in" type="email" [(ngModel)]="parLogin.xEmail" required email class="form-control"
            />
            <label for="fl-in" class="form-control-placeholder">Correo electrónico</label>
          </div>
          <div class="form-group">
            <input id="fl-pss" name="fl-pss" #flPss="ngModel" type="password" minlength="3" [(ngModel)]="parLogin.password" required
              class="form-control" />
            <label for="fl-pss" class="form-control-placeholder">Contraseña</label>
          </div>
          <div class="d-flex flex-row small bg-light">
            <input type="checkbox" id="fl-loc" name="fl-loc" #flLoc="ngModel" [(ngModel)]="parLogin.local">&nbsp;
            <small>Este dispositivo es personal y puede conservar la sesión</small>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column  pl-2">
              <div *ngIf="flIn.invalid && (flIn.dirty || flIn.touched)" class="d-flex flex-column">
                <span class="form-control-invalid" [hidden]="!flIn.errors.required">Correo electrónico requerido</span>
                <span class="form-control-invalid" [hidden]="!flIn.errors.email">Formato de email incorrecto</span>
              </div>
              <div *ngIf="flPss.invalid && (flPss.dirty || flPss.touched)" class="d-flex flex-column">
                <span class="form-control-invalid" [hidden]="!flPss.errors.required">Contraseña requerida</span>
                <span class="form-control-invalid" [hidden]="!flPss.errors.minlength">Mínimo 3 caracteres</span>
              </div>
            </div>
            <button class="btn btn-primary " type="submit" *ngIf="loginF.valid">
              <i class="fas fa-sign-in-alt"></i>&nbsp;Ok
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <small><strong>Ingresar por primera vez</strong></small>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="p-2 small text-gray">Registre su correo electrónico personal y una contraseña para ingresar a este servicio.
          Debe usar el correo electrónico que por ley hay reportado en la empresa, e informar su documento de identidad para fines de validación.</div>
        <form class="card-body" novalidate (submit)="callRegistro(1)" #loginF1="ngForm">
          <ngx-loading [show]="busy"></ngx-loading>
          <div class="form-group">
            <input id="fl1-in" #fl1In="ngModel" name="fl1-in" type="email" [(ngModel)]="parLogin.xEmail" required email class="form-control"
            />
            <label for="fl1-in" class="form-control-placeholder">Correo electrónico</label>
          </div>
          <div class="d-flex flex-row">
            <div class="form-group">
              <select [(ngModel)]="parLogin.bTipoDocIdentidad" class="form-control" name="fl1-tdc">
                <option class="small" *ngFor="let ctdc of tiposDoc" [value]="ctdc.bTipoDocIdentidad">{{ctdc.xTip}}</option>
              </select>
              <label for="fl1-tdc" class="form-control-placeholder">Tipo</label>
            </div>
            <div class="form-group">
              <input id="fl1-doc" name="fl1-doc" #fl1Doc="ngModel" type="text" [(ngModel)]="parLogin.xDocIdentidad" required class="form-control"
              />
              <label for="fl1-doc" class="form-control-placeholder">Documento</label>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column  pl-2">
              <div *ngIf="fl1In.invalid && (fl1In.dirty || fl1In.touched)" class="d-flex flex-column">
                <span class="form-control-invalid" [hidden]="!fl1In.errors.required">Correo electrónico requerido</span>
                <span class="form-control-invalid" [hidden]="!fl1In.errors.email">Formato de email incorrecto</span>
              </div>
              <div *ngIf="fl1Doc.invalid && (fl1Doc.dirty || fl1Doc.touched)" class="d-flex flex-column">
                <span class="form-control-invalid" [hidden]="!fl1Doc.errors.required">Documento requerido</span>
              </div>
            </div>
            <button class="btn btn-primary " type="submit" *ngIf="loginF1.valid">
              <i class="fas fa-sign-in-alt"></i>&nbsp;Ok
            </button>
          </div>
        </form>
        <div class="p-2 small text-gray">Se enviará por correo un permiso para crear su contraseña, siga sus instrucciones.  El proceso debe hacerse en los siguiente 30 minutos</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed small" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <small><strong>Cambiar contraseña por olvido</strong></small>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="p-2 small text-gray">Se enviará por correo un permiso para grabar una nueva contraseña. Sólo tiene 20 minutos para realizar este cambio.</div>
        <form class="card-body" novalidate (submit)="callRegistro(2)" #loginF2="ngForm">
          <ngx-loading [show]="busy"></ngx-loading>
          <div class="form-group">
            <input id="fl2-in" #fl2In="ngModel" name="fl2-in" type="email" [(ngModel)]="parLogin.xEmail" required email class="form-control"
            />
            <label for="fl2-in" class="form-control-placeholder">Correo electrónico</label>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column  pl-2">
              <div *ngIf="fl2In.invalid && (fl2In.dirty || fl2In.touched)" class="d-flex flex-column">
                <span class="form-control-invalid" [hidden]="!fl2In.errors.required">Correo electrónico requerido</span>
                <span class="form-control-invalid" [hidden]="!fl2In.errors.email">Formato de email incorrecto</span>
              </div>
            </div>
            <button class="btn btn-primary " type="submit" *ngIf="loginF2.valid">
              <i class="fas fa-sign-in-alt"></i>&nbsp;Ok
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
