<div fxFlexFill fxLayout="row" fxLayoutAlign="start stretch" #fullDisplay>
    <div #menu></div>
    <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pb1">
            <mat-icon svgIcon="menu-closed" (click)="openMain()"></mat-icon>
        </div>
        <div fxFlex class="pb2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>