<div fxFlex fxFill fxLayout="column" #interiorMenu>
  <div fxFlex="25px"></div>
  <div *ngFor="let cOp of lstMenu()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px" class="menu-item"
    [ngClass]="{'menu-item-select':selected(cOp)}" (click)="selOpcion(cOp)">
    <mat-icon [svgIcon]="cOp.xIcono"></mat-icon>
    <span>{{cOp.xMenu}}</span>
  </div>
</div>
