table.mat-table{
  width:100%;
}
td.mat-cell:first-child,td.mat-footer-cell:first-child,th.mat-header-cell:first-child {
  padding-left:2px;
}
td.mat-cell:last-child,.mat-footer-cell:last-child,th.mat-header-cell:last-child {
  padding-right:2px;
}
tr.mat-header-row,tr.mat-row { height:32px;}
td.mat-cell,td.mat-footer-cell,th.mat-header-cell{text-align:center;}

tr.not-noleido td:last-child{
  font-style: italic;
  color:#860808;
  font-weight: 500;

}
.not-B{
  background-color:lightcyan;
}
.not-V{
  background-color: lightpink;
}
.not-A{
  background-color: lightyellow;
}
.not-E{
  background-color: lightgreen;
}

