.caja {
  background: navy;
  padding: 6px 2px 2px 4px;
  width: 292px;
  color:white;
  border-radius: 5px;
}
.contenido {
  background:white;
  color:black;
  border-radius:4px;
}

.caja-margen {
 padding: 3px;
}

.gutter{
  width:26px;
}
