<div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="600px" fxFlex.xs="320px" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="12px"></div>
    <div fxLayout="row wrap">
      <div class="caja-margen">
        <div class="caja" fxLayout="row">
          <div class="gutter">
            <mat-icon svgIcon="bell"></mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="start space-evenly">
              <div fxFlex="8px"></div>
              <span fxFlex>Notificaciones</span>
              <mat-icon [svgIcon]="panel.nti?'chevron-up':'chevron-down'" (click)="toggle('nti')"></mat-icon>
            </div>
            <div class="contenido" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="panel.nti" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="120px">
                No tiene notificaciones
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="caja-margen">
        <div class="caja" fxLayout="row">
          <div class="gutter">
            <mat-icon svgIcon="nomi-bel"></mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="start space-evenly">
              <div fxFlex="8px"></div>
              <span fxFlex>Boletas electrónicas</span>
              <mat-icon [svgIcon]="panel.bel?'chevron-up':'chevron-down'" (click)="toggle('bel')"></mat-icon>
            </div>
            <div class="contenido" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="panel.bel" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="120px">
                No tiene boletas electrónicas
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="caja-margen">
        <div class="caja" fxLayout="row">
          <div class="gutter">
            <mat-icon svgIcon="nomi-asi"></mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="start space-evenly">
              <div fxFlex="8px"></div>
              <span fxFlex>Asistencia</span>
              <mat-icon [svgIcon]="panel.asi?'chevron-up':'chevron-down'" (click)="toggle('asi')"></mat-icon>
            </div>
            <div class="contenido" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="panel.asi" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="120px">
                No tiene eventos de asistencia
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="caja-margen">
        <div class="caja" fxLayout="row">
          <div class="gutter">
            <mat-icon svgIcon="nomi-vac"></mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="start space-evenly">
              <div fxFlex="8px"></div>
              <span fxFlex>Vacaciones</span>
              <mat-icon [svgIcon]="panel.vac?'chevron-up':'chevron-down'" (click)="toggle('vac')"></mat-icon>
            </div>
            <div class="contenido" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="panel.vac" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="120px">
                Cálculo de vacaciones
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="caja-margen">
        <div class="caja" fxLayout="row">
          <div class="gutter">
            <mat-icon svgIcon="nomi-prs"></mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="start space-evenly">
              <div fxFlex="8px"></div>
              <span fxFlex>Préstamos</span>
              <mat-icon [svgIcon]="panel.prs?'chevron-up':'chevron-down'" (click)="toggle('prs')"></mat-icon>
            </div>
            <div class="contenido" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="panel.prs" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="120px">
                No tiene registros de préstamos
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="caja-margen">
        <div class="caja" fxLayout="row">
          <div class="gutter">
            <mat-icon svgIcon="account"></mat-icon>
          </div>
          <div fxFlex fxLayout="column">
            <div fxFlex="20px" fxLayout="row" fxLayoutAlign="start space-evenly">
              <div fxFlex="8px"></div>
              <span fxFlex>Usuario</span>
              <mat-icon [svgIcon]="panel.acc?'chevron-up':'chevron-down'" (click)="toggle('acc')"></mat-icon>
            </div>
            <div class="contenido" fxLayout="column" fxLayoutAlign="center center">
              <div *ngIf="panel.acc" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="120px">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
