<div fxFlex="900px" fxLayout="row" fxLayoutAlign="center stretch">
  <div class="n-panel n-board" *ngIf="!perfilOk && sesion" fxLayout="column" fxLayoutAlign="center center">
    <span><strong>Su perfil no le permite acceder a la consola de Asistencia</strong></span>
    <span>Si considera que debe tener acceso, solicítelo a informática.</span>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="6px"
    style="background-color: #e0e0e0; padding: 6px;" *ngIf="perfilOk && sesion">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <mat-calendar [selected]="selDia" (selectedChange)="chDiaMes($event)" [maxDate]="hoy"></mat-calendar>
      <br><br>
      <mat-form-field>
        <mat-select placeholder="Establecimiento" [(value)]="selEstablecimiento" (selectionChange)="chEstablecimiento()"
          [disabled]="!establecimientos || establecimientos.length==0">
          <mat-option *ngFor="let estab of establecimientos" [value]="estab">
            {{estab.deptname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="" [(value)]="selEstado" [disabled]="!establecimientos || establecimientos.length==0">
          <mat-option *ngFor="let sta of estadosValidos()" [value]="sta.estado" [class]="sta.estilo">
              <span [class]="'marcard '+sta.estilo">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{sta.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex fxLayoutGap="4px" fxLayout="column"
      style="background-color: white; border-radius:8px; margin: 5px; padding: 3px; border: 1px solid #eee;">
      <mat-progress-bar mode="indeterminate" *ngIf="cargandoAsistencia"></mat-progress-bar>
      <div fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
        <div *ngIf="!establecimientos || establecimientos.length==0" fxFlex fxLayoutAlign="center center"
          fxLayout="column">
          <span *ngIf="cargandoAsistencia===false">
              No se cargó horario para {{ selDia.format("LL") }}
            </span>
            <span *ngIf="cargandoAsistencia===true">
                Calculando horario del dia {{ selDia.format("LL") }}
              </span>
        </div>

        <div fxFlex *ngIf="establecimientos && establecimientos.length>0" fxLayout="column"
          fxLayoutAlign="start stretch" style="font-size:11px;overflow-y:auto;">
          <div fxFlex="20px" style="border-bottom: 2px solid #bbb" fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex="18px"></div>
            <div fxFlex>Empleado</div>
            <div fxFlex="60px" *ngFor="let ctl of iControles(0)">{{ctl.xControl}}</div>
            <div fxFlex="56px">Descuento</div>
            <div fxFlex="56px">Extras</div>
          </div>

          <div fxFlex="20px" *ngFor="let asi of asistenciaxEstado(0)" fxLayout="row" fxLayoutAlign="start stretch" (click)="diarioEmpleado(asi)" class="manito">
            <div fxFlex="18px">
              <span [class]="'marcard marca'+(asi.iEstado+1).toString()">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <!-- <div fxFlex [matTooltip]="asi.lastname" matTooltipPosition="left" *ngIf="controles.length>4">{{asi.name}}
            </div> -->
            <div fxFlex [matTooltip]="asi.name" matTooltipPosition="left">{{asi.lastname}}
            </div>
            <div fxFlex="60px" *ngFor="let cfl of iControles(0)">
              {{tabularFlujo(asi.flujo,cfl.bControl,'control') | date:'hh:mm:ss'}}</div>
            <div fxFlex="56px"><span *ngIf="asi.fDescuento>0">{{asi.fDescuento | number: "1.3-3" }}</span></div>
            <div fxFlex="56px">{{asi.fExtras | number: "1.3-3" }}</div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
