<div class="d-flex flex-row">
    <div class="card" *ngIf="avatar!=null">
        <div class="card-header d-flex flex-column">
            <span class="card-title">Registrar nueva contraseña</span>
            <strong>{{avatar.xNombres}}</strong>
            <strong class="small">{{avatar.xEmail}}</strong>
        </div>
        <br/>
        <form class="card-body" novalidate (ngSubmit)="callCambiarPwd()" #loginF="ngForm">
            <ngx-loading [show]="busy"></ngx-loading>
            <div class="form-group">
                <input id="fr-pass" #frPass="ngModel" name="fr-pass" type="password" [(ngModel)]="parPassword.password" minlength='6' required class="form-control" validateEqual="fr-conf" reverse="true" />
                <label for="fr-pass" class="form-control-placeholder">Contraseña</label>
            </div>
            <div class="form-group">
                <input id="fr-conf" name="fr-conf" #frConf="ngModel" type="password" [(ngModel)]="parPassword.confirma" required class="form-control" validateEqual="fr-pass" />
                <label for="fr-conf" class="form-control-placeholder">Verificar</label>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column  pl-2">
                    <div *ngIf="frPass.invalid && (frPass.dirty || frPass.touched)" class="d-flex flex-column">
                        <span class="form-control-invalid" [hidden]="!frPass.errors.required">Se requiere una contraseña</span>
                        <span class="form-control-invalid" [hidden]="!frPass.errors.minlength">Mínimo 6 caracteres</span>
                    </div>
                    <div *ngIf="frConf.invalid && (frConf.dirty || frConf.touched)" class="d-flex flex-column">
                        <span class="form-control-invalid" [hidden]="!frConf.errors.required">Repita la contraseña para confirmar</span>
                        <span class="form-control-invalid" *ngIf="!frConf.errors.validateEqual">Verificación no coincide.</span>
                    </div>
                </div>
                <button class="btn btn-primary " type="submit" *ngIf="loginF.valid">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;Ok
                </button>
            </div>
        </form>
    </div>
    <div class="card" *ngIf="avatar==null">
        <div class="card-body">
            El permiso para registrar una contraseña ha caducado.  <br>
            Efectúe una nueva solicitud, recuerde que el permiso sirve sólo por los siguientes 30 minutos.
        </div>
    </div>
</div>