<div *ngIf="(authService.user|async)" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="spinner-container" fxFlex fxFlexAlign="center" fxFlexOffset="40px" *ngIf="cargando||(authService.loading|async)">
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch" class="marco" >
    <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw"
      fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column" *ngIf="!cargando&&!(authService.loading|async)" >
      <div class="card-hd" fxLayout="row" fxLayoutAlign="stretch stretch">
        <mat-icon fxFlex="24px" class="card card-ico" svgIcon="cash"></mat-icon>
        <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
          Boletas</div>
      </div>
      <div class="card-bd" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-evenly center"
          fxLayoutGap="2px">
          <mat-form-field fxFlex>
            <mat-select placeholder="contrato" [(ngModel)]="selContrato"
              (selectionChange)="chContrato()">
              <mat-option *ngFor="let cctt of contratos"
              [ngStyle]="{'font-weight': cctt.lVigente==true ? '600' : '400'}"
              [value]="cctt.zContrato">{{cctt.xContrato}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="80px">
            <mat-select placeholder="periodo" [(ngModel)]="xPeriodo"
              (selectionChange)="chPeriodo()">
              <mat-option *ngFor="let cper of periodos" [value]="cper">{{cper}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="60px">
            <mat-select placeholder="boleta" [(ngModel)]="selCalculo"
              (selectionChange)="chParcial()">
              <mat-option *ngFor="let cpar of parciales"
                [ngStyle]="{'font-weight': cpar.bBEL==1 ? '600' : '400'}"
                [value]="cpar.zCalculo">{{cpar.iCalculoPlanilla}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="spinner-container" fxFlex fxFlexAlign="center" fxFlexOffset="40px" *ngIf="!boleta && !cargando && !(authService.loading|async)">
          <mat-spinner></mat-spinner>
        </div>
        <mat-accordion *ngIf="boleta">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxFlex>
                {{boleta.titulo[0].xDato}}
              </mat-panel-title>
              <mat-panel-description fxFlex fxFlexAlign="end">
                {{boleta.cabecera[0].neto|currency:boleta.cabecera[0].monedaneto}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <div *ngFor="let cti of boleta.titulo">
                {{cti.xDato}}
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ASISTENCIA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="stretch
                center" *ngFor="let cti of boleta.concepto1">
                <div fxFlex>{{cti.Concepto}}</div>
                <div>{{cti.mMonto}}</div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{boleta.cabecera[0].xingresos}}
              </mat-panel-title>
              <mat-panel-description>
                {{sumaMonto(boleta.concepto2)|currency:boleta.cabecera[0].monedaneto}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="stretch
                center" *ngFor="let cti of boleta.concepto2">
                <div fxFlex="65%">{{cti.Concepto}}</div>
                <div fxFlex>{{cti.MontoInfo}}</div>
                <div>{{cti.mMonto|number:'0.2-2'}}</div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{boleta.cabecera[0].xdescuentos}}
              </mat-panel-title>
              <mat-panel-description>{{sumaMonto(boleta.concepto3)|currency:boleta.cabecera[0].monedaneto}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="stretch
                center" *ngFor="let cti of boleta.concepto3">
                <div fxFlex="65%">{{cti.Concepto}}</div>
                <div fxFlex>{{cti.MontoInfo}}</div>
                <div>{{cti.mMonto|number:'0.2-2'}}</div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{boleta.cabecera[0].xempleador}}
              </mat-panel-title>
              <mat-panel-description>{{sumaMonto(boleta.concepto4)|currency:boleta.cabecera[0].monedaneto}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="stretch
                center" *ngFor="let cti of boleta.concepto4">
                <div fxFlex="65%">{{cti.Concepto}}</div>
                <div fxFlex>{{cti.MontoInfo}}</div>
                <div>{{cti.mMonto|number:'0.2-2'}}</div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="card-ft" fxLayout="row" fxLayoutAlign="start stretch"
        *ngIf="boleta">
        <div fxFlex *ngIf="calculo.bBEL!==1" fxFlexAlign="center">
          <span class="t-sm">
            No genera Documento Electrónico de Pago porque es {{boleta.titulo[0]}}.
          </span>
        </div>
        <div fxFlex *ngIf="calculo.bBEL==1">
          <ul class="t-xs">
            <li>Click en el código QR para ver ó imprimir desde este dispositivo</li>
            <li>Escanee el código para ver ó imprimir desde otro dispositivo</li>
          </ul>
        </div>
        <div fxFlex="100px" *ngIf="calculo.bBEL==1">
          <a target="belPDF" [href]="boleta.pdf.xUrl" rel="noopener">
            <qr-code [value]="boleta.pdf.xUrl"></qr-code>
          </a>
        </div>
        <div fxFlex="20px" fxLayout="row" fxLayoutAlign="center start"
          *ngIf="calculo.bBEL==1">
          <div class="rotar90" fxFlex fxFlexAlign="center">{{calculo.iCalculoPlanilla|zeros:8}}</div>
        </div>
        <div fxFlex="10%">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
