.t-danger {
  color: red;
}
.t-gray {
  color: grey;
}
.t-info {
  color: rgb(22, 121, 121);
}
.b-info {
  background-color: rgb(14, 180, 180);
}
.t-dark {
  color: black;
  font-weight: 600;
}
.ciclos-container {
  height: 120px;
  overflow-y: auto;
}
table.mat-table {
  width: 100%;
}
td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 2px;
}
td.mat-cell:last-child,
.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  padding-right: 2px;
}
tr.mat-header-row,
tr.mat-row {
  height: 32px;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: center;
}
.mat-expansion-panel-header,
.mat-expansion-panel-body {
  padding: 0 10px !important;
}
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}
.mat-slider-thumb {
  transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

mat-option {
  font-size: 14px !important;
  height: 26px !important;
  line-height: 26px !important;
}

mat-select {
  font-size: 14px !important;
  height: 20px !important;
  line-height: 20px !important;
}
