<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div fxLayout="row">
    <div class="n-panel" fxFlex.xs="280px" fxFlex="600px" fxLayout="column" fxLayoutAlign="start center">
      <div fxFlex fxFill fxFlexAlign="center">
        No tienes notificaciones actuales.
      </div>
    </div>
  </div>
</div>
