<div class="d-flex flex-column nom-xs d-block" *ngIf="(authService.user|async)">
  <div class="d-flex flex-column pt-2 pb-0 align-items-stretch" *ngIf="vacaciones?.length>0; else noHayVacaciones">
    <div class="d-flex flex-column align-self-center">
      <div class="form-group flex-fill">
        <select [(ngModel)]="selContrato" class="form-control-sm small font-weight-bold" name="selcontrato" style="min-width:200px">
          <option  *ngFor="let cctt of contratos" [value]="cctt.zContrato">{{cctt.xContrato}}</option>
        </select>
        <label for="selcontrato" class="form-control-placeholder">Vacaciones según contrato</label>
      </div>
    </div>
    <div *ngIf="totalDias(selContrato).sDisponibles>0||totalDias(selContrato).sVencidas>0" class="d-flex flex-column border-top border-bottom small pt-1 pb-1">
        <span *ngIf="totalDias(selContrato).sDisponibles>0">Disponibles <strong>{{totalDias(selContrato).sDisponibles}}</strong> dias del ciclo actual.</span>
        <span class="text-danger" *ngIf="totalDias(selContrato).sVencidas>0">Debe salir de vacaciones por <strong>{{totalDias(selContrato).sVencidas}}</strong> dias <strong>urgentemente!</strong>.</span>
    </div>
    <div class="d-flex flex-column flex-fill" style="max-height:92px;overflow-y:auto;">
      <table class="table table-condensed table-sm">
        <tr class="nom-th">
          <th class="small text-center">Ciclo</th>
          <th class="small text-center">Hasta</th>
          <th class="small text-center">Gen</th>
          <th class="small text-center">Goz</th>
          <th class="small text-center">Ven</th>
          <th class="small text-center">Acu</th>
          <th class="small text-center">Saldo</th>
        </tr>
        <tr *ngFor="let cva of vacxContrato(selContrato)" [ngClass]="{'text-gray':cva.cStatus=='V','text-info':cva.cStatus=='T','bg-info text-dark':(selCiclo==cva.sCiclo)}" (click)="selCiclo=cva.sCiclo;" >
          <td class="small text-center">{{cva.sCiclo}}</td>
          <td class="small text-center">{{cva.dHasta|date:'dd/MM/yy'}}</td>
          <td class="small text-center">{{cva.sGeneradas}}</td>
          <td class="small text-center">{{cva.sGozadas}}</td>
          <td class="small text-center">{{cva.sVendidas}}</td>
          <td class="small text-center">{{cva.sAcordadas}}</td>
          <td class="small text-center" [ngClass]="{'text-danger':(cva.sSaldo>0&&cva.cStatus=='V')}">{{cva.sSaldo}}</td>
        </tr>
      </table>
    </div>
  </div>
  <ng-template class="d-flex flex-column" #noHayVacaciones>
    <div *ngIf="cBusy==false" class="d-flex flex-column pt-4">
      <span><i class="fas fa-times-circle text-danger"></i>&nbsp;No hay datos de vacaciones.</span>
      <small>Solicite información de vacaciones directamente a su empleador.</small>
    </div>
    <div *ngIf="cBusy" class="pt-4 d-flex flex-column align-items-center align-content-center justify-content-center d-block">
      <span class="fa-stack fa-2x">
        <i class="fas fa-spinner fa-stack-2x fa-pulse text-primary"></i>
        <i class="fas fa-cog fa-stack-1x fa-spin text-success"></i>
      </span>
      <span class="text-primary p-3">
        <strong>
          <i>calculando...</i>
        </strong>
      </span>
    </div>
  </ng-template>
</div>