/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(to bottom right, #f0f0ff , #f0fff0);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ppr {
  border: 1px solid red;
}
.ppb {
  border: 1px solid blue;
}
.ppg {
  border: 1px solid green;
}
.ppc {
  border: 1px solid cyan;
}
.ppm {
  border: 1px solid magenta;
}
.ppy {
  border: 1px solid yellow;
}

.mat-expansion-panel-header {
  background: linear-gradient(to bottom right, #e0e0f5 , white);
}

.mat-hint {
  color: darkred;
}

.ppal{
  background: linear-gradient(to bottom, #414174,#3b583b);
  padding: 6px 16px;
}
