<div class="d-flex flex-column p-2 nom-xs" *ngIf="(authService.user|async); else noUsr">
    Lista de notificaciones (en construcción)
</div>
<ng-template class="d-flex flex-column p-2 small well " style="min-width:310px" #noUsr>

    <div class="small pt-6 p-1 pl-4 pr-4 text-justify">
        <strong>Inicia sesión con tu correo personal.</strong>
    </div>
    <div class="small p-1 pl-4 pr-4 text-justify">
        Utiliza el correo electrónico que has reportado a la empresa donde laboras.
    </div>
    <div class="small p-1 pl-4 pr-4 text-justify">
        Usa ese correo electronico para iniciar sesión en este sitio, observando que este sitio está diseñado para el uso en dispositivos
        personales, y por tanto </div>
    <div class="small p-1 pl-4 pr-4 text-justify">
        <ul>
            <li>Se puede iniciar sesión (recomendado) con la cuenta de
                <strong>Google+</strong> ó
                <strong>Facebook</strong>, con el correo que coincida.</li>
            <li>Al iniciar sesión con un dispositivo compartido, es necesario
                <strong>cerrar sesión explícitamente</strong> cuando termine de interactuar con esta aplicación.</li>
        </ul>
    </div>

</ng-template>