<div fxLayout="column" fxLayoutAlign="stretch stretch">
  <div class="spinner-container" fxFlex fxFlexAlign="center" fxFlexOffset="40px"
    *ngIf="iniciando||(authService.loading|async)">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="(authService.user|async)" fxLayout="row" fxLayoutAlign="center stretch" class="marco">
    <div fxLayout="column" class="card"
      fxLayoutAlign="stretch stretch" fxFlex.xs="100vw" fxFlex.sm="80vw"
      fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw">

      <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon fxFlex="24px" class="card card-ico" svgIcon="beach"></mat-icon>
        <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
          Vacaciones</div>
      </div>
      <div class="card-bd" fxLayout="column" *ngIf="vacaciones?.length>0"
        fxLayoutGap="4px" fxLayoutAlign="center stretch">
        <div fxLayout="row" fxLayoutAlign="stretch center"
          fxLayoutGap="2px">
          <mat-form-field fxFlex>
            <mat-select placeholder="contrato" [(ngModel)]="selContrato">
              <mat-option *ngFor="let cctt of contratos"
              [ngStyle]="{'font-weight': cctt.lVigente ? '600' : '400'}"
              [value]="cctt.zContrato">{{cctt.xContrato}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="totales.lPuedeSolicitar && totales.sDisponibles>0"
          fxLayout="column" class="card-disponibles">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxFlex>
                <span class="t-sm">Puede solicitar hasta
                  {{totales.sDisponibles}} días de vacaciones</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="stretch center">
              <mat-form-field fxFlex="30%">
                <input matInput [matDatepicker]="pkDesde"
                  [matDatepickerFilter]="filtroInicioVacaciones"
                  placeholder="desde" (dateChange)="chVacInicio($event)"
                  [value]="solicitud.desde">
                <mat-datepicker-toggle matSuffix [for]="pkDesde"></mat-datepicker-toggle>
                <mat-datepicker
                  [touchUi]="authService.getBrowser()==='mobile'" #pkDesde></mat-datepicker>
              </mat-form-field>
              <mat-slider fxFlex="40%" [min]="totales.sVencidas"
                [max]="totales.sSaldo"
                [value]="solicitud.dias" thumbLabel
                (input)="chVacSlider($event)"></mat-slider>
              <mat-form-field fxFlex="30%">
                <input matInput [matDatepicker]="pkHasta" disabled
                  placeholder="hasta"
                  [value]="solicitud.hasta">
                <mat-datepicker-toggle matSuffix [for]="pkHasta"></mat-datepicker-toggle>
                  <mat-datepicker #pkHasta></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxLayout.gt-xs="row" fxLayout.xs="column">
              <mat-form-field fxFlex.gt-xs="80%" fxFlex.xs="1 1">
                <input matInput placeholder="Observación ó justificación
                  (opcional)" [(ngModel)]="solicitud.xAsunto">
              </mat-form-field>
              <div fxFlex.gt-xs="20%" fxLayout.gt-xs="column"
                fxLayoutAlign.gt-xs="center center" fxFlex.xs="1 1"
                fxLayout.xs="row" fxLayoutAlign.xs="center stretch">
                <button mat-button fxFlex.xs fxFlex.gt-xs="36px"
                  (click)="enviarSolicitud()">
                  <mat-icon svgIcon="send" class="mat-ico-20"></mat-icon>
                  <span>Solicitar</span>
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
        <div class="ciclos-container mat-elevation-z4">
          <table mat-table [dataSource]="vacxContrato(selContrato)">
            <ng-container cdkColumnDef="sCiclo">
              <th mat-header-cell *cdkHeaderCellDef>Ciclo</th>
              <td mat-cell *cdkCellDef="let ciclo">{{ciclo.sCiclo}}</td>
            </ng-container>
            <ng-container cdkColumnDef="dHasta">
              <th mat-header-cell *cdkHeaderCellDef>Hasta</th>
              <td mat-cell *cdkCellDef="let ciclo">{{ciclo.dHasta}}</td>
            </ng-container>
            <ng-container cdkColumnDef="sGeneradas">
              <th mat-header-cell *cdkHeaderCellDef>Gen</th>
              <td mat-cell *cdkCellDef="let ciclo">{{ciclo.sGeneradas}}</td>
            </ng-container>
            <ng-container cdkColumnDef="sGozadas">
              <th mat-header-cell *cdkHeaderCellDef>Goz</th>
              <td mat-cell *cdkCellDef="let ciclo">{{ciclo.sGozadas}}</td>
            </ng-container>
            <ng-container cdkColumnDef="sVendidas">
              <th mat-header-cell *cdkHeaderCellDef>Ven</th>
              <td mat-cell *cdkCellDef="let ciclo">{{ciclo.sVendidas}}</td>
            </ng-container>
            <ng-container cdkColumnDef="sAcordadas">
              <th mat-header-cell *cdkHeaderCellDef>Acu</th>
              <td mat-cell *cdkCellDef="let ciclo">{{ciclo.sAcordadas}}</td>
            </ng-container>
            <ng-container cdkColumnDef="sSaldo">
              <th mat-header-cell *cdkHeaderCellDef>Saldo</th>
              <td mat-cell *cdkCellDef="let ciclo"
                [class.t-danger]="ciclo.sSaldo>0&&ciclo.cStatus==='V'"
                [class.t-dark]="ciclo.sSaldo>0&&ciclo.cStatus==='D'"
                [class.t-info]="ciclo.sSaldo>0&&ciclo.cStatus==='T'">{{ciclo.sSaldo}}</td>
            </ng-container>
            <tr mat-header-row *cdkHeaderRowDef="colsCiclo; sticky:true"></tr>
            <tr mat-row *cdkRowDef="let rciclo; columns: colsCiclo;"
              [class.b-info]="selCiclo===rciclo.sCiclo"
              [class.t-dark]="selCiclo===rciclo.sCiclo"
              [class.t-gray]="rciclo.cStatus==='V'"
              [class.t-info]="rciclo.cStatus==='T'"
              (click)="selCiclo=rciclo.sCiclo;"></tr>
          </table>
        </div>
        <div *ngIf="novxCiclo(selCiclo).length>0" fxLayout="column">
          <div class="t-sm" style="padding-top:10px;">Movimiento en las
            vacaciones del ciclo <strong>{{selCiclo}}</strong>:</div>
          <table mat-table [dataSource]="novxCiclo(selCiclo)"
            class="mat-elevation-z4">
            <ng-container cdkColumnDef="dDesde">
              <th mat-header-cell *cdkHeaderCellDef>Desde</th>
              <td mat-cell *cdkCellDef="let movi">{{movi.dDesde|date:'d/M/yy'}}</td>
            </ng-container>
            <ng-container cdkColumnDef="dHasta">
              <th mat-header-cell *cdkHeaderCellDef>Hasta</th>
              <td mat-cell *cdkCellDef="let movi">{{movi.dHasta|date:'d/M/yy'}}</td>
            </ng-container>
            <ng-container cdkColumnDef="iDias">
              <th mat-header-cell *cdkHeaderCellDef>Días</th>
              <td mat-cell *cdkCellDef="let movi">{{movi.iDias}}</td>
            </ng-container>
            <ng-container cdkColumnDef="cTipoNovedad">
              <th mat-header-cell *cdkHeaderCellDef>Tipo</th>
              <td mat-cell *cdkCellDef="let movi">{{movi.cTipoNovedad}}</td>
            </ng-container>
            <ng-container cdkColumnDef="xDescripcion">
              <th mat-header-cell *cdkHeaderCellDef width="50%">Descripcion</th>
              <td mat-cell *cdkCellDef="let movi" class="t-xs ta-left">{{movi.xDescripcion}}</td>
            </ng-container>
            <tr mat-header-row *cdkHeaderRowDef="colsMovi"></tr>
            <tr mat-row *cdkRowDef="let rMovi; columns: colsMovi"></tr>
          </table>
        </div>
        <div *ngIf="novxCiclo(selCiclo).length===0" fxLayout="column">
          <div *ngIf="selCiclo" class="t-sm" style="padding-top:10px;">No hay
            movimiento en las vacaciones del ciclo <strong>{{selCiclo}}</strong></div>
          <div *ngIf="!(selCiclo)" class="t-sm" style="padding-top:10px;">Elige
            un ciclo en la tabla para ver su movimiento.</div>
        </div>
      </div>
    </div>
  </div>
</div>
