<div #signInit *ngIf="(authService.user|async)" fxLayout="row" fxLayoutAlign="center center" class="marco">
  <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column">
    <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon fxFlex="24px" class="card card-ico" svgIcon="account-box"></mat-icon>
      <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
        Usuario</div>
    </div>
    <div fxFlex class="card-bd">
      <div fxLayout.xs="column" fxLayout="row">
        <div fxLayout="row" fxFlex="1 1 100%" fxLayoutGap="4px">
          <div fxFlex="90px" style="height:90px;">
            <img *ngIf="(authService.user|async)?.photoURL" [src]="(authService.user|async)?.photoURL||''" style="width:90px;height:90px;"
            />
          </div>
          <div fxLayout="column" fxLayoutAlign="center start">
            <div class="t-md t-bl">{{(authService.user|async)?.displayName}}</div>
            <div class="t-sm">{{(authService.user|async)?.email}}</div>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="3px">
          <div fxFlex="30px" fxFlexAlign="center" fxLayout="row">
            <button fxFlex="150px" fxLayoutAlign="start center" [disabled]="(authService.user|async)?.providerData[0].providerId!='password'">
              <mat-icon svgIcon="camera-account"></mat-icon>
              <span>Subir nueva foto</span></button>
          </div>
          <div fxFlex="30px" fxFlexAlign="center" fxLayout="row">
            <button fxFlex="150px" fxLayoutAlign="start center" [disabled]="(authService.user|async)?.providerData[0].providerId!='password'">
              <mat-icon svgIcon="lead-pencil"></mat-icon>
              <span>Cambiar nombre</span></button>
          </div>
          <div fxFlex="30px" fxFlexAlign="center" fxLayout="row">
            <button fxFlex="150px" fxLayoutAlign="start center" (click)="cerrarSesion()">
              <mat-icon svgIcon="logout"></mat-icon>
              <span>Cerrar sesión</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div #sinLogin *ngIf="!(authService.user|async)" fxLayout="row" fxLayoutAlign="center center" class="marco">
  <div fxFlex.xs="310px" fxFlex="400px" fxLayout="column" fxLayoutAlign="center stretch" class="card">
    <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon fxFlex="24px" class="card card-ico" svgIcon="login"></mat-icon>
      <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
        Iniciar sesión</div>
      <div fxFlex="85px" class="t-sm t-bl t-un" (click)="toggleLogin()" fxFlexAlign="center">
        <small class="manito" *ngIf="esLogin">eres nuevo?</small>
        <small class="manito" *ngIf="!esLogin">ya tienes cuenta?</small>
      </div>
    </div>
    <div fx class="card-bd">
      <form novalidate [formGroup]="logForm" (submit)="onSubmitLogin()" *ngIf="esLogin" fxLayout="column" fxLayoutAlign="center stretch">
        <div fxFlex="12px">&nbsp;</div>
        <mat-form-field floatLabel="true" fxFlex>
          <mat-label>Correo electrónico</mat-label>
          <input matInput required formControlName="email">
          <mat-error *ngIf="logForm.get('email')?.invalid">{{getLogEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="true" fxFlex>
          <mat-label>Contraseña</mat-label>
          <input matInput required [type]="hide ? 'password':'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide=!hide" class="card card-ico mat-ico-16" [svgIcon]="hide ? 'eye' : 'eye-off'"></mat-icon>
          <mat-error *ngIf="logForm.get('password')?.invalid">{{getLogPassword()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="logForm.invalid" class="btn-nominus">
          <mat-icon svgIcon="login"></mat-icon> Iniciar sesión
        </button>
      </form>
      <form novalidate [formGroup]="regForm" (submit)="onSubmitRegistro()" *ngIf="!esLogin" fxLayout="column" fxLayoutAlign="center stretch">
        <mat-form-field floatLabel="true" fxFlex>
          <mat-label>Validar su correo electrónico</mat-label>
          <input matInput required formControlName="email">
          <mat-icon matPrefix class="card  mat-ico-16" svgIcon="email-plus"></mat-icon>
          <mat-error *ngIf="logForm.get('email')?.invalid">{{getRegEmail()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="regForm.invalid" class="btn-nominus">
          <mat-icon svgIcon="email-check"></mat-icon> Chequear email
        </button>
      </form>
    </div>
    <div fxFlex="1 1 100%" class="card-hd" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="4px">
      <div fxFlex="6px">&nbsp;</div>
      <div fxFlex class="t-xs t-bl" fxFlexAlign="center">Simplifique su ingreso usando su cuenta de red social</div>
      <div fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
        <button mat-raised-button class="btn-google" (click)="onClickGoogleLogin()"><mat-icon svgIcon="google-plus-box"></mat-icon> Google+</button>
        <button mat-raised-button class="btn-facebook" (click)="onClickFacebookLogin()"><mat-icon svgIcon="facebook-box"></mat-icon> facebook</button>
      </div>
      <div fxFlex="6px">&nbsp;</div>
    </div>
  </div>

</div>

<!-- <div class="card" style="width:310px">
    <div class="card-body" style="min-height: 250px;">
      <form [formGroup]="logForm" (submit)="onSubmitLogin()" *ngIf="esLogin">
        <div class="form-group" ngClass="{'control-error':logForm.controls['email'].errors}">
          <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
          <label for="email" class="form-control-placeholder">Correo electrónico</label>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="form-control" formControlName="password" required>
          <label for="password" class="form-control-placeholder">Contraseña</label>
        </div>
        <div class="d-flex flex-row align-items-stretch m-0 p-0">
          <ul class="navbar-nav small">
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['email'].pristine&&logForm.controls['email'].errors?.required">E-mail requerido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['email'].pristine&&logForm.controls['email'].errors?.pattern">E-mail inválido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['password'].pristine&&logForm.controls['password'].errors?.pattern">Contraseña de sólo letras y números.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['password'].pristine&&logForm.controls['password'].errors?.minlength">Contraseña de mínimo 6 caracteres.</li>
            <li class="nav-item form-control-invalid" *ngIf="!logForm.controls['password'].pristine&&logForm.controls['password'].errors?.required">Contraseña requerida.</li>
          </ul>
          <button class="btn btn-sm nom-btn m-2 ml-auto" [disabled]="logForm.invalid">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>&nbsp;Ok
          </button>
        </div>
      </form>
      <form novalidate [formGroup]="regForm" (submit)="onSubmitRegistro()" *ngIf="!esLogin">
        <span class="small"><b>Paso 1.</b> Se requiere la verificación de su correo electrónico:</span>
        <br>
        <br>
        <div class="d-flex flex-row">
          <div class="form-group flex-grow-1" ngClass="{'control-error':regForm.controls['email'].errors}">
            <input type="email" id="email" name="email" class="form-control" formControlName="email" required>
            <label for="email" class="form-control-placeholder">Correo electrónico</label>
          </div>
          <div>
            <button class="btn btn-sm p-2 ml-auto" [disabled]="regForm.invalid">
              <i class="fas fa-question-circle" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="d-flex flex-row align-items-stretch m-0 p-0">
          <ul class="navbar-nav small">
            <li class="nav-item form-control-invalid" *ngIf="!regForm.controls['email'].pristine&&regForm.controls['email'].errors?.required">E-mail requerido.</li>
            <li class="nav-item form-control-invalid" *ngIf="!regForm.controls['email'].pristine&&regForm.controls['email'].errors?.pattern">E-mail inválido.</li>
          </ul>
        </div>
        <span class="small"><b>Paso 2.</b> Se enviará a su correo electrónico un link para continuar con el registro.</span>
      </form>
    </div>
    <div class="card-header d-flex flex-column align-items-center border-top">
      <small>
        <span class="small">Simplifique su ingreso usando su cuenta de red social:
          <br>
          <br>
        </span>
      </small>
      <div class="d-flex flex-row w-100 justify-content-center">
        <button class="btn btn-google ml-1 mr-1">
          <i class="fab fa-google-plus-square fa-lg" aria-hidden="true"></i>&nbsp;Google+
        </button>
        <button class="btn btn-facebook ml-1 mr-1">
          <i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i>&nbsp;Facebook
        </button>
      </div>
    </div>
  </div> -->
