<div
  #signInit
  *ngIf="(authService.user | async)"
  fxLayout="column"
  fxFill
  fxFlex
  fxLayoutAlign="center center"
>
  <div fxLayout="row">
    <div
      class="n-panel"
      fxFlex.xs="280px"
      fxFlex="600px"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="90px" style="height:90px;">
          <img
            *ngIf="(authService.user | async)?.photoURL"
            [src]="(authService.user | async)?.photoURL || ''"
            style="width:90px;height:90px;"
          />
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" style="padding:6px;">
          <span
            style="font-weight: 600; color:back; padding-right: 6px; white-space: nowrap;"
            >{{ (authService.user | async)?.displayName }}</span
          >
          <span style="padding-right:6px;font-size:10pt; color:#666;">{{
            (authService.user | async)?.email
          }}</span>
          <div fxFlex fxLayout="column" fxLayoutAlign="end stretch">
            <button mat-raised-button color="primary" (click)="cerrarSesion()">
              <mat-icon svgIcon="logout"></mat-icon> Cerrar sesión
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div
      class="n-panel"
      fxFlex.xs="280px"
      fxFlex="600px"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    ></div>
  </div>
</div>

<div
  #sinLogin
  *ngIf="!(authService.user | async)"
  fxLayout="row"
  fxFill
  fxFlex
  fxLayoutAlign="center center"
>
  <div
    fxFlex.xs="280px"
    fxFlex="500px"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <div
      fxFlex="300px"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="4px"
    >
      <div fxLayout="column" fxLayoutAlign="center center">
        <div>Ingrese con su cuenta corporativa</div>
        <div><strong>@uladech.edu.pe</strong></div>
        <div fxFlex="10px"></div>
        <button
          mat-raised-button
          (click)="onClickGoogleLogin()"
          class="btn-google"
        >
          <mat-icon svgIcon="google"></mat-icon><span> Iniciar sesión</span>
        </button>
      </div>
    </div>
  </div>
</div>
