.btn-facebook {
    background: #3b5998;
    color: white;
    width:40%;
}

.btn-google {
    background: #dd4b39;
    color: white;
}

.has-danger {
    border-color: red;
}

.has-success {
    border-color: green;
}

.prb{
  background-color: lightgrey;
}
.prb2{
  background-color: lightpink;
}
.prb3{
  background-color: lightskyblue;
}
