<div fxLayout="column" fxLayoutAlign="stretch stretch">
  <div fxFlex="15px"></div>
  <div class="n-panel n-board" *ngIf="!perfilOk && sesion" fxLayout="column" fxLayoutAlign="center center">
    <span><strong>
        Su perfil no le permite acceder a la consola de Asistencia</strong></span>
    <span>Si considera que debe tener acceso, solicítelo a informática.</span>
  </div>

  <div fxFlex *ngIf="perfilOk && sesion" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div >No tiene notificaciones</div>
  </div>
</div>
