<div fxFlex fxLayout="column" fxLayoutAlign="cente stretch">
  <div fxFlex="25px"></div>
  <div *ngFor="let cOp of lstMenu()" fxLayout="column" fxLayoutAlign="start stretch"
    [ngClass]="{'menu-div-item-select':cOp.selected}" (click)="selOpcion(cOp)">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px" class="menu-div-item">
      <mat-icon [svgIcon]="cOp.xIcono"></mat-icon>
      <span>{{cOp.xMenu}}</span>
    </div>
    <div *ngFor="let item of cOp.items">
      <div [@trgItem]="cOp.selected===true ? 'open':'closed'" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
        <span fxFlex="30px"></span>
        <span>{{item.xMenu}}</span>
      </div>
    </div>
  </div>
</div>