.menu-div-item {
  padding: 2px 10px 1px 10px;
  // min-width: 230px;
  font-size: 10pt;
  font-weight: 600;
  &:hover {
    background-color:  #272779;
  }
  .marcado{
    background-color: green;
  }
}

.mat-icon {
  transform: scale(0.75);
}
