<div>
  Al seleccionar un empleado, podrá efectuar
  <ul><li>Consultar su histórico de retrasos, y sobre él levantar procesos de control (memos, autorizaciones, etc)</li>
  <li>Asignar horarios ó marcarle su horario particular</li>
<li>Adicionar papeletas en su nombre</li>
<li>Reclutar su voz y configuración de huellas dactilares</li></ul>
</div>
