<div fxFlex="800px" fxFlexAlign="center" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="8px">
  <div class="n-panel n-board" *ngIf="!perfilOk && sesionOk" fxLayout="column" fxLayoutAlign="center center">
    <span><strong>
        Su perfil no le permite acceder a la consola de Asistencia</strong></span>
    <span>Si considera que debe tener acceso, solicítelo a informática.</span>
  </div>
  <div class="board" fxFlex="320px" fxFill fxLayout="column" *ngIf="perfilOk && sesionOk">
    <div class="board-head" fxLayout="row" fxFill fxLayoutAlign="center stretch" fxFlex="50px">
      <div fxFlex="300px" fxFlexAlign="center">Marcación diaria</div>
      <div fxFlex fxFill></div>
      <div fxLayout="row" fxLayoutAlign="center stretch">
     </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="lCargaDiaria===true"></mat-progress-bar>
    <button mat-button fxLayout="row" fxLayoutAlign="center center" (click)="cargaDiario()">
      <mat-icon svgIcon="history"></mat-icon><span> Cargar horario ({{dDia|date:'dd/MMM/yyyy'}})</span>
    </button>
  </div>
</div>
