<div fxFlex fxLayout="row">
  <div fxFlex="600px" fxFlex.xs="320px" fxLayout="column" fxLayoutAlign="start stretch">
    <div fxFlex="12px"></div>
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Inicia sesión con Google o Facebook
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxFlex fxLayout="column">
            <div fxFlex="9px"></div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
              <button mat-button fxLayout="row" fxLayoutAlign="start center" class="google" (click)="auth.GoogleAuth()">
                <mat-icon svgIcon="google-plus-box"></mat-icon>
                <span>Google</span>
              </button>
              <button mat-button fxLayout="row" fxLayoutAlign="start center" class="facebook">
                <mat-icon svgIcon="facebook-box"></mat-icon>
                <span>Facebook</span>
              </button>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            o con tu correo electrónico registrado
          </mat-panel-title>
          <ng-template matExpansionPanelContent>
            <div fxFlex fxLayout="column">
              <div fxFlex="9px"></div>
              <form novalidate autocomplete="off">
                <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="stretch stretch" fxLayoutGap="4px">
                  <mat-form-field fxFlex.xs='0 0' fxFlex>
                    <input matInput [formControl]="userEmail" type="text" placeholder="tu correo electrónico">
                    <mat-hint>{{msgHint(userEmail)}}</mat-hint>
                  </mat-form-field>
                  <div fxLayout="row" fxFlex fxFlex.xs='0 0'>
                    <mat-form-field>
                      <input matInput [formControl]="userPassword" type="password" placeholder="contraseña">
                      <mat-hint>{{msgHint(userPassword)}}</mat-hint>
                    </mat-form-field>
                    <button mat-button fxLayout="row" [disabled]="userPassword.invalid||userEmail.invalid" (click)="auth.SignIn(userEmail.value,userPassword.value)">
                      <mat-icon svgIcon="check"></mat-icon>
                      <span> Ok</span>
                    </button>
                  </div>
                </div>
              </form>
              <div fxLayout="column">
                  <a>Olvidó su contraseña?</a>
                  <a>Registar su correo electrónico</a>
                </div>
            </div>
          </ng-template>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
