<div fxLayout="column" fxFill fxLayoutAlign="center center">
    <div fxLayout="row">
      <div class="n-panel" fxFlex.xs="280px" fxFlex="600px" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="4px">
        <div fxFlex fxFill fxFlexAlign="center" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="t-xs">
            {{tokensmin|json}}

          </div>
        </div>
      </div>
    </div>
  </div>
