.t-danger {
  color:red;
}
.t-gray {
  color: grey;
}
.t-info{
  color: rgb(22, 121, 121);
}
.b-info{
  background-color: rgb(14, 180, 180);
}
.t-dark{
  color:black;
  font-weight: 600;
}
.ciclos-container{
  height:120px;
  overflow-y:auto;
}
table.mat-table{
  width:100%;
}
td.mat-cell:first-child,td.mat-footer-cell:first-child,th.mat-header-cell:first-child {
  padding-left:2px;
}
td.mat-cell:last-child,.mat-footer-cell:last-child,th.mat-header-cell:last-child {
  padding-right:2px;
}
tr.mat-header-row,tr.mat-row { height:32px;}
td.mat-cell,td.mat-footer-cell,th.mat-header-cell{text-align:center;}

.mat-expansion-panel-header{
  padding: 0 12px !important;
}
.mat-expansion-panel-body{
  padding: 0 8px 8px 0 !important;
}
