<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div fxLayout="row">
    <div class="n-panel" fxFlex.xs="280px" fxFlex="600px" fxLayout="column" fxLayoutAlign="start center">
      <div fxFlex fxFill fxFlexAlign="center">
        Módulo de <strong>Boletas electrónicas</strong> no disponible.<br>
        Nos encontramos en proceso de reclutamiento de huellas dactilares y reconocimiento de voz. Seleccione el módulo
        de Asistencia para tal fin.
      </div>
    </div>
  </div>
</div>
