<div class="d-flex flex-column p-2 nom-xs">
    <div *ngIf="sesion" class="d-flex flex-column">
        <ngx-loading [show]="cBusy"></ngx-loading>
        <div class="text-gray">Relaciones laborales registradas</div>
        <div *ngFor="let ctt of listaContratos()" class="d-flex flex-row border-top border-bottom">
            <div class="d-flex flex-column justify-content-center align-items-center align-content-center p-2">
                <img [src]="'data:image/png;base64,'+ctt.jImagen" style="height:30px;width:30px;" class="rounded">
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <span>
                    <strong>{{ctt.xRazonSocial}}</strong>
                </span>
                <span>{{ctt.xCargo}}</span>
                <small>Desde {{ctt.dDesde|date:'dd/MM/yyyy'}}</small>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center align-content-center p-2">
                    <i *ngIf="ctt.lVigente" class="far fa-thumbs-up fa-2x text-success"></i>
                    <i *ngIf="!ctt.lVigente" class="far fa-thumbs-down fa-2x text-gray"></i>
                    <small>{{ctt.dHasta|date:'dd/MM/yyyy'}}</small>
                </div>
        </div>
    </div>
</div>