body{
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
.fan-colorb1 {
    color: #77cc77;
}

.fan-colorb1:hover {
    color: #99ff99;
}

.fan-colorb2 {
    color: #7777cc;
}

.fan-colorb2:hover {
    color: #ccccee;
}

.fan-colorbt {
    color: #cccccc;
}

.fan-colorbt:hover {
    color: #ffffff;
}

.fan-colorw1 {
    color: #006600;
}

.fan-colorw1:hover {
    color: #339933;
}

.fan-colorw2 {
    color: #000066;
}

.fan-colorw2:hover {
    color: #333399;
}

.fan-colorwt {
    color: #333333;
}

.fan-colorwt:hover {
    color: #000000;
}

.nom-marco {
    max-width: 800px;
}

.nav-link, .rene-fontMenu {
    color: #aaa;
}

.nav-link:hover {
    color: white;
}

.link-active {
    color: #ddd;
    background-color: #204c61;
}

.form-group, .input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0px 5px 0px 5px;
    transition: all 200ms;
    opacity: 0.5;
    background-color: white;
}

.custom-select-sm:focus+.form-control-placeholder, 
.custom-select-sm:valid+.form-control-placeholder, 
.form-control-sm:focus+.form-control-placeholder, 
.form-control-sm:valid+.form-control-placeholder, 
.form-control:focus+.form-control-placeholder, 
.form-control:valid+.form-control-placeholder,
.ng-invalid:not(form)+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.ng-valid[required],.ng-valid.required {
    border-right: 4px solid #42A948;
}

.ng-dirty.ng-invalid:not(form){
    border-right: 4px solid #a94442;
}

.form-control-invalid {
    text-decoration: none;
    margin-left: 3px;
    margin-right: 2px;
    color: darkred;
    font-size: 7pt;
    font-weight: 700;
}

.nom-fcorta {
    font-size: 7pt;
}

.nom-noleido {
    font-weight: 400;
    border-bottom: 1px solid darksalmon;
    background-color: beige;
}

.nom-leido {
    font-weight: 700;
    border-bottom: 1px solid gray;
    background-color: white;
}

.text-gray {
    color: gray;
}

.nom-header {
    height: 50px !important;
    background-color: #6cbd6c;
}

.nom-btn{
    background-color: #ccc;
    border:1px solid #999;
}

.nom-aside {
    position: absolute;
    overflow-x: hidden;
    background-color: #000066;
    z-index: 999;
}

.nom-footer {
    background-color: #2f5c0c;
}

.nom-opaco {
    position: absolute;
    background-color: white;
    height: 100%;
    z-index: 998;
}

.nom-xs{
    min-width: 310px;
}

.manito {
    cursor: pointer;
    color:darkblue;
    text-decoration:underline;
    font-weight: 600;
}

.nom-th{
    background-color:#fafafa;
    border-bottom: 1px solid #555;
}