<div fxLayout="column">
  <mat-form-field fxFlex>
    <input matInput [formControl]="ctrl" type="text" [matAutocomplete]="auto" [placeholder]="'buscar en '+xLista">
    <mat-icon matSuffix svgIcon="eraser-variant" class="mat-ico-16" (click)="borrarSelector()" [class.manito]="ctrl.value"
      [class.no-borrar]="!(ctrl.value)"></mat-icon>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let itm of items" [value]="itm.mostrar" (click)="selDesdeLista(itm)">
      <span>{{itm.mostrar}}</span>
      <span class="dc-sel-derecha">{{itm.derecha}}</span>
    </mat-option>
  </mat-autocomplete>
</div>
