<div fxFill fxLayout="column" fxLayoutAlign="start stretch" style="padding:5px;">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="8px" style="padding:5px;">
    Home
    <!-- <div class="pnl-login" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="header">Autenticación </div>
      <div class="contenido" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex *ngIf="auth.usrLogged">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="6px">
          <div *ngIf="auth.usrLogged['photoURL']">
            <img [src]="auth.usrLogged['photoURL']" width="40px">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="4px">
            <div style="font-size:11pt;font-weight: 500;">{{auth.usrLogged['displayName']}}</div>
            <div style="font-size:9pt;font-weight:400;">{{auth.usrLogged['email']}}</div>
          </div>
        </div>

        <div matRipple fxLayout="row" fxLayoutAlign="center center" class="div-click" (click)="auth.logout()">
          <mat-icon svgIcon="cerrar"></mat-icon>
          <span>Cerrar sesión</span>
        </div>
      </div>
      <div class="contenido" fxLayout="column" style="max-width:300px" *ngIf="!auth.usrLogged">
        <div style="text-align:justify;font-size:9pt;">
          Es necesario identificarse para interactuar con esta aplicación, seleccione un tipo de autenticación:
        </div>
        <div fxLayout="column" fxLayoutAlign="start start">
          <div fxFlex="6px"></div>
          <div matRipple fxFlex="56px" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="center stretch"
            (click)="auth.login('Google')" class="agente">
            <div fxFlex="56px" fxLayoutAlign="center center">
              <mat-icon class="agente-icono" svgIcon="google"></mat-icon>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <span class="agente-titulo">Google</span>
              <span class="agente-descripcion">@gmail.com, @google.com, cuentas corporativas Google Suite...</span>
            </div>
          </div>
          <div fxFlex="6px"></div>
          <div matRipple fxFlex="56px" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="center stretch"
            (click)="auth.login('Facebook')" class="agente">
            <div fxFlex="56px" fxLayoutAlign="center center">
              <mat-icon class="agente-icono" svgIcon="facebook"></mat-icon>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <span class="agente-titulo">Facebook</span>
              <span class="agente-descripcion">Correo asociado a su red social.</span>
            </div>
          </div>
          <div fxFlex="6px"></div>
          <div matRipple fxFlex="56px" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="center stretch"
            (click)="auth.login('microsoft.com')" class="agente">
            <div fxFlex="56px" fxLayoutAlign="center center">
              <mat-icon class="agente-icono" svgIcon="windows"></mat-icon>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <span class="agente-titulo">Microsoft</span>
              <span class="agente-descripcion">@hotmail.com, @msn.com.*, @outlook.com, cuentas corporativas de Office
                365...</span>
            </div>
          </div>
          <div fxFlex="6px"></div>
          <div matRipple fxFlex="56px" fxFlexAlign="stretch" fxLayout="row" fxLayoutAlign="center stretch"
            (click)="auth.login('yahoo.com')" class="agente">
            <div fxFlex="56px" fxLayoutAlign="center center">
              <mat-icon class="agente-icono" svgIcon="yahoo"></mat-icon>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
              <span class="agente-titulo">Yahoo</span>
              <span class="agente-descripcion">@yahoo.*, @rocketmail.com, @ymail.com, ...</span>
            </div>
          </div>
          <div fxFlex="6px"></div>
        </div>
      </div>
    </div>
    <div class="pnl-sistemas" *ngIf="auth.accesos.indexOf(518142)>-1">
      <div class="header">Navegador</div>
      <div class="contenido">
        <div *ngFor="let dt of _platform" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
          <small>{{dt}}</small>
          <span> {{nav.platform[dt]}}</span>
        </div>
      </div>
    </div>
    <div class=" pnl-sistemas" *ngIf="nav.oMain.sel">
      <div class="header">Routing</div>
      <div class="contenido">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
          <small>
            <mat-icon svgIcon="menu-main"></mat-icon>
          </small>
          <span>{{nav.oMain.sel?.xLink}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
          <small>
            <mat-icon svgIcon="menu-sec"></mat-icon>
          </small>
          <span>{{nav.oSec.sel?.xLink}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
          <small>
            <mat-icon svgIcon="menu-steps"></mat-icon>
          </small>
          <span>{{nav.oStep.sel?.xLink}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px" *ngIf="nav.oStep.sel.oParametro">
          <small>
            <mat-icon svgIcon="p-params"></mat-icon>
          </small>
          <span>{{nav.oStep.sel.oParametro }}</span>
        </div>
      </div>
    </div>
    <div class="pnl-sistemas" *ngIf="auth.global && auth.accesos.indexOf(518142)>-1">
      <div class="header">Variables globales</div>
      <div class="contenido">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px" *ngFor="let glo of camposGlobal()">
          <small>{{glo}}</small>
          <span><strong>{{auth.global[glo]}}</strong></span>
        </div>
      </div>
    </div>
    <div class=" pnl-sistemas" *ngIf="nav.oStep.arr&&nav.oStep.arr.length>0">
      <div class="header">Pasos</div>
      <div class="contenido">
        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="4px" *ngFor="let cpso of nav.oStep.arr">
          <small>
            <mat-icon [svgIcon]="cpso.xIcono"></mat-icon>
          </small>
          <span fxFlex style="font-weight: 500;">{{cpso.xLink}}</span>
          <small><i>{{cpso.oParametro}}</i></small>
        </div>
       </div>
    </div> -->
  </div>
</div>
