.pnl-sistemas{
  border: 1px solid gray;
  padding: 1px;
  border-radius: 6px;
  background-color: #0000801f;
  .header,.footer {
    background-color: #000080bf;
    color:white;
    padding: 2px;
  }
  .header{
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .footer{
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .contenido{
    padding: 6px;
    vertical-align: middle;
  }
}
.pnl-login{
  border: 1px solid gray;
  padding: 1px;
  border-radius: 6px;
  .header,.footer {
    background-color: #008000bf;
    color:white;
    padding:3px 0;
  }
  .header{
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .footer{
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .contenido{
    background-color: #0080001f;
    padding: 6px;
  }
}
.agente-icono{
  transform: scale(2.4);
}
.agente-titulo{
  font-size:14pt;
  font-weight: 500;
}
.agente-descripcion{
  font-size:8pt;
  font-weight:400;
}
.agente{
  cursor: pointer;
}
