<div class="d-flex flex-column align-items-stretch" height-100>
    <div class='d-flex flex-row d-block h-100'>
        <nav-menu></nav-menu>
        <div class="d-flex flex-row align-items-stretch crl-body w-100">
            <div class="d-flex flex-column align-items-stretch w-100">
                <div class="d-flex flex-row rene-bgVerdeLight justify-content-end align-items-center pr-4" style="height: 50px;">
                    <div class="d-flex flex-row" *ngIf="sesion!=null">
                        <div class="d-flex flex-column pr-2">
                            <span class="small text-nowrap">{{sesion.avatar.xUsuario}}</span>
                        </div>
                        <img [src]="'data:image/png;base64,'+sesion.avatar.jFoto" style="height:40px;" class="rounded" />
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center m-2 h-100" style="overflow-y: auto;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-end crl-footer rene-bgVerdeDark">
        <span class="p-2 small text-white">&copy;2018 -
            <strong>Nominus</strong>
        </span>
        <span class="p-2 rene-silverLight small">v1.0.1</span>
    </div>
</div>
<ng-snotify class="material"></ng-snotify>