<div class="h-100 rene-bgAzulDark" *ngIf="tamanho!='nada'" style="position:relative;" [@menuMax]="tamanho">
    <div class="rene-botonFlot" (click)="navi.toggleVisible();" [@botonMax]="tamanho">
        <i class="fas fa-bars"></i>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex flex-column align-items-center w-100 text-white pb-4 m-2" style="position:relative;">
            <img src="assets/logos/LogoNominus256.png" style="position:relative;width:100%" />
            <!-- <img src="assets/logos/IsotipoNominus50Black.png" [@logoMin]="tamanho" style="position:relative;" /> -->
        </div>
    </div>
    <div class="pt-2"></div>
    <div *ngIf="app.sesion!=null">
        <ul class='nav flex-column' *ngFor="let csm of siMenu">
            <li *ngIf="csm.link!=''" [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="csm.link" class="nav-link text-nowrap">
                    <span class="fa-layers fa-fw">
                        <i [class]="csm.icono.base"></i>
                        <i [class]="csm.icono.prima+' rene-verde'"></i>
                    </span>
                    <span *ngIf="tamanho=='maxi'" class="pl-1">{{csm.menu}}</span>
                </a>
            </li>
            <li *ngIf="csm.link==''" class="nav-item" style="position:relative;">
                <a class="nav-link text-nowrap" (click)="toggSubmenu(csm)" [routerLink]="">
                    <span class="fa-layers fa-fw">
                        <i [class]="csm.icono.base"></i>
                        <i [class]="csm.icono.prima+' rene-verde'"></i>
                    </span>
                    <span *ngIf="tamanho=='maxi'" class="pl-1">{{csm.menu}}</span>
                </a>
                <div class="ml-3 border-left" *ngIf="tamanho=='maxi'">
                    <ul class="nav flex-column" *ngFor="let opc of csm.submenu">
                        <li [routerLinkActive]="['link-active']" class="nav-item" style="overflow:hidden;" [@subMnu]="csm.expand">
                            <a class="nav-link text-nowrap" [routerLink]="opc.link">
                                <span class="fa-layers fa-fw">
                                    <i [class]="opc.icono.base"></i>
                                    <i [class]="opc.icono.prima+' rene-verde'"></i>
                                </span>
                                <span class="pl-1">{{opc.opcion}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div *ngIf="tamanho=='mini'" class="rene-menuFlot" [@miniMnu]="csm.miniEx">
                    <div class="border-bottom text-nowrap text-white pl-1 pr-1">{{csm.menu}}</div>
                    <ul class="nav flex-column" *ngFor="let opc of csm.submenu">
                        <li [routerLinkActive]="['link-active']" class="nav-item">
                            <a class="nav-link text-nowrap" [routerLink]="opc.link">
                                <span class="fa-layers fa-fw">
                                    <i [class]="opc.icono.base"></i>
                                    <i [class]="opc.icono.prima+' rene-verde'"></i>
                                </span>
                                <span class="pl-1">{{opc.opcion}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="app.sesion==null&&tamanho=='maxi'" class="p-2">
        <span class="text-light">debe iniciar sesión.</span>
    </div>
</div>