<div [ngBusy]="_jefatura">
  <div #signInit *ngIf="(authService.user|async)" fxLayout="row" fxLayoutAlign="center stretch" class="marco">
    <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxFlex="30px" class="card-hd" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon fxFlex="24px" class="card card-ico" svgIcon="account-supervisor"></mat-icon>
        <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center stretch">
          Notificaciones y autorizaciones del jefe</div>
      </div>
      <div fxFlex="1 1 100%" class="card-bd">
        No tiene nada pendiente como jefe
      </div>
    </div>
  </div>
</div>
