<div fxLayout="row" fxLayoutAlign="center center" class="marco">
  <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column">
    <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon fxFlex="24px" class="card card-ico" svgIcon="email-check"></mat-icon>
      <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
        Validando su correo electrónico</div>
    </div>
    <div fxFlex class="card-bd">
      <form novalidate [formGroup]="valForm" (submit)="onCompletarValidacion()" *ngIf="verifStatus.mode === 'signIn2' || verifStatus.mode == 'signLess'"
        fxLayout="column" fxLayoutAlign="center stretch">
        <div fxFlex="12px">&nbsp;</div>
        <mat-form-field floatLabel="true" fxFlex>
          <mat-label>Correo electrónico</mat-label>
          <input matInput required formControlName="email">
          <mat-error *ngIf="valForm.get('email')?.invalid">{{getValError('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="true" fxFlex>
          <mat-label>Nombre (para mostrar)</mat-label>
          <input matInput required formControlName="displayName">
          <mat-error *ngIf="valForm.get('displayName')?.invalid">{{getValError('displayName')}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="true" fxFlex>
          <mat-label>Contraseña</mat-label>
          <input matInput required [type]="hide ? 'password':'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide=!hide" class="card card-ico mat-ico-16" [svgIcon]="hide ? 'eye' : 'eye-off'"></mat-icon>
          <mat-error *ngIf="valForm.get('password')?.invalid">{{getValError('password')}}</mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="valForm.invalid" class="btn-nominus">
          <mat-icon svgIcon="email-secure"></mat-icon> Registrarse
        </button>
        <div fxFlex="12px">&nbsp;</div>
      </form>
      <div fxFlex *ngIf="verifStatus.mode=='signNo'" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">
        <div>No se pudo verificar su correo.</div>
        <div>Deberá iniciar de nuevo su solicitud de ingreso.</div>
      </div>
    </div>
  </div>
</div>