html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  text-align: left;
}

.manito {
  cursor: pointer;
}

.t-xs {
  font-size: 10px;
}
.t-sm {
  font-size: 12px;
}
.t-md {
  font-size: 14px;
}
.t-lg {
  font-size: 18px;
}
.t-xl {
  font-size: 22px;
}
.t-bl {
  font-weight: 600;
}
.t-un {
  text-decoration: underline;
  color: navy;
  white-space: nowrap;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}
.ta-center {
  text-align: center !important;
}
.ta-justify {
  text-align: justify !important;
}

mat-error {
  text-align: right;
}

.card > .card-hd,
.card > .card-ft {
  width: 100%;
  background-color: #ddf;
  padding: 2px 4px 2px 4px;
  min-height: 30px;
}
.card > .card-hd > .card-tt {
  font-size: 14px;
  padding-right: 3px;
  font-weight: 600;
  font-family: "Verdana";
  font-style: italic;
}
.card > .card-bd {
  border: 1px solid #ddf;
  padding: 4px;
}

.card .card-ico {
  color: #888;
}

.mat-ico-16 {
  width: 16px;
  height: 16px;
  transform: scale(0.7);
  vertical-align: bottom;
}

.mat-ico-20 {
  width: 20px;
  height: 20px;
  transform: scale(0.75);
  vertical-align: bottom;
}

.btn-nominus {
  background-color: #16168d;
  color: #eeeeee;
}

.n-r90 {
  transform: rotate(-90deg);
}

.n-panel,
.c-panel,
w-panel {
  padding: 4px;
  border-radius: 4px;
}

.n-panel {
  border: 1px solid #bbb;
  background-color: #eee;
}
.c-panel {
  border: 1px solid #fb9;
  background-color: #fcc;
}
.w-panel {
  border: 1px solid #ff8;
  background-color: #ffb;
}

.n-panel-footer {
  border-top: 1px solid #bbb;
}

.n-tbl-sel{
  background-color: rgb(153, 112, 112);
}

.nboard {
  width: 300px;
}

.ula-btn {
  background-color: #ac2930;
  color: #ffb;
}

.pp1 {
  border: 1px solid red;
}
.pp2 {
  border: 1px solid blue;
}
.pp3 {
  border: 1px solid green;
}

div.mat-tab-body-content {
  padding-top: 4px;
}

.marca1 {
  background-color: #cfcfcf;
}
.marca2 {
  background-color: #bfffbf;
}
.marca3 {
  background-color: #bfbfff;
}
.marca4 {
  background-color: #f1dd98;
}
.marca5 {
  background-color: #ffbbbb;
}
.marca6 {
  background-color: #dd6666;
}

.marcard{
  border-radius:10px;
  font-size:8px;
  vertical-align:middle;
}

.badge-marca{
  font-size:8pt;
  border-radius: 100%;
  padding:2px;
  background-color:#3232af;
  color:white;
}

.board{
  border:1px solid #bbb;
  border-radius:6px;
}
.board-head{
background-color:#aaa;
color:white;
padding:2px;
}
.board-body{
  padding: 6px;

}
