<div fxLayout="row" fxLayoutAlign="center center" class="marco">
  <div class="card" fxFlex.xs="100vw" fxFlex.sm="80vw" fxFlex.md="70vw" fxFlex.lg="55vw" fxFlex.xl="40vw" fxLayout="column">
    <div class="card-hd" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon fxFlex="24px" class="card card-ico" svgIcon="file-account"></mat-icon>
      <div fxFlex="1 1 100%" class="card-tt" fxFlexAlign="center">
        Contratos disponibles</div>
    </div>
    <div fxFlex="1 1 100%" class="card-bd">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div fxFlex="282px" class="contrato" *ngFor="let cct of listaContratos()" style="margin-bottom:5px;" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="4px">
          <div fxFlex="30px" fxFlexAlign="center">
            <img [src]="cct.jImagen" style="height:30px;width:30px;">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
            <div fxFlexAlign="stretch" class="cargo">{{cct.xCargo}}</div>
            <div class="empresa">{{cct.xRazonSocial}}</div>
            <div class="desde">Desde {{cct.dDesde | date:'dd/MM/yyyy'}}, Hasta {{cct.dHasta | date:'dd/MM/yyyy'}}</div>
          </div>
          <div fxFlex="20px">
            <mat-icon class="contrato-ico" [ngClass]="{'vigente':cct.lVigente,'no-vigente':!cct.lVigente}"  [svgIcon]="cct.lVigente ? 'file-account':'file-import'"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="d-flex flex-column p-2 nom-xs">
    <div *ngIf="sesion" class="d-flex flex-column">
        <ngx-loading [show]="cBusy"></ngx-loading>
        <div class="text-gray">Relaciones laborales registradas</div>
        <div *ngFor="let ctt of listaContratos()" class="d-flex flex-row border-top border-bottom">
            <div class="d-flex flex-column justify-content-center align-items-center align-content-center p-2">
                <img [src]="'data:image/png;base64,'+ctt.jImagen" style="height:30px;width:30px;" class="rounded">
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <span>
                    <strong>{{ctt.xRazonSocial}}</strong>
                </span>
                <span>{{ctt.xCargo}}</span>
                <small>Desde {{ctt.dDesde|date:'dd/MM/yyyy'}}</small>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center align-content-center p-2">
                    <i *ngIf="ctt.lVigente" class="far fa-thumbs-up fa-2x text-success"></i>
                    <i *ngIf="!ctt.lVigente" class="far fa-thumbs-down fa-2x text-gray"></i>
                    <small>{{ctt.dHasta|date:'dd/MM/yyyy'}}</small>
                </div>
        </div>
    </div>
</div> -->
