.empresa {
  font-size: 12px;
  font-weight: 600;
}
.cargo {
  font-size: 16px;
}
.desde {
  font-size: 10px;
}
.contrato{
  background-color: #abd0df;
  padding: 4px;
  border-radius: 4px;
}

.vigente{
  color:#080;
}
.no-vigente{
  color:#888;
}

.contrato-ico {
  vertical-align: top;
}
