<div>
    <ngx-loading [show]="busy"></ngx-loading>
    <div class="d-flex flex-row flex-wrap flex-fill">
        <div *ngFor="let cnt of notifs" [ngClass]="{'nom-noleido':cnt.dLeido==null,'nom-leido':cnt.dLeido!=null}" class="w-100">
            <a class="d-flex flex-row pl-2" *ngIf="cnt.bTipoNotificacion==1"  (click)="procesar(cnt)" style="cursor:pointer;">
                <div class="d-flex flex-column align-content-center justify-content-center">
                    <i class="fas fa-money-bill-wave"></i>
                    <span class="nom-fcorta">{{cnt.dNotificacion| date:'dd/MM'}}</span>
                    <span class="nom-fcorta">{{cnt.dNotificacion| date:'HH:mm'}}</span>
                </div>
                <div class="d-flex flex-column flex-grow-1 p-2">
                    <div>{{cnt.xNotificacion}}</div>
                    <small>Periodo: {{cnt.iAnoMes}}/{{cnt.bCalculo}}</small>
                </div>
            </a>
        </div>
    </div>
</div>