<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div fxLayout="row">
    <div fxLayout="column">
      <div
        class="n-panel"
        fxFlex="160px"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <span
          >Estamos en proceso de recolección de huellas y voces. Comuníquese con
          el personal auxiliar de RRHH para recibir indicaciones.</span
        >
      </div>
      <div
        *ngIf="vozActiva"
        class="n-panel"
        fxFlex="100px"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <span fxFlex>
          pronuncie <strong>{{ vozActiva.xFrase }}</strong
          >:
        </span>
        <div fxFlex>
          <a (click)="initiateRecording()" *ngIf="!recording">
            <mat-icon svgIcon="record"></mat-icon>
          </a>
          <a (click)="stopRecording()" *ngIf="recording">
            <mat-icon svgIcon="stop-circle"></mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
