@import "../assets/paleta.scss";

#areaMenu {
  background-color: $azulTapiz;
  color: $fontEnOscuro0;
  padding: 10px 0 0 0;
  .d-menu{
      overflow-y: auto;
  }
}

#areaNotif {
  background-color: $azulTapiz;
  color: $fontEnOscuro0;
  font-size: 9pt;
  padding: 10px 15px 0 15px;
}

#areaHeader{
    background-color: $verdeTapiz;
    color: $fontEnOscuro0;
    padding: 0 8px;
}

#areaFooter{
    background-color: $verdeTapiz;
    color: $fontEnOscuro0;
    padding: 0 8px;
}

#areaContenido {
  background-color: $verdeBackground0;
  overflow-y: auto;
  padding: 20px 10px;
}
