<div fxFill fxLayout="column" fxLayoutAlign="start stretch">
  <mat-drawer-container fxFlex style="padding:0px">
    <mat-drawer mode="side" autosize #drawLeft [opened]="openNav!==0">
      <div fxFill fxLayout="column" fxLayoutAlign="start stretch" #areaMenu id="areaMenu">
        <app-menu></app-menu>
      </div>
    </mat-drawer>
    <mat-drawer mode="side" autosize #drawRight position="end" [opened]="openNotif!==0">
      <div fxFlex="170px" fxFill fxLayout="column" fxLayoutAlign="start stretch" #areaNotif id="areaNotif">
        Info del usuario<br><br>
        Empresa/contrato seleccionado<br>
        Opcion de cambiar de contrato/empresa, si hay mas<br><br>
        Notificaciones
      </div>
    </mat-drawer>
    <div fxFill fxLayout="column" fxLayoutAlign="start stretch">
      <div id="areaHeader" fxLayout="row" fxLayoutAlign="space-between center" #areaHeader>
        <mat-icon [svgIcon]="openNav!==0?'menu-opened':'menu-closed'" (click)="clickNav()"></mat-icon>
        <mat-icon svgIcon="usuario" (click)="clickNotif()"></mat-icon>

      </div>
      <div fxFlex #areaContenido id="areaContenido">
        <router-outlet></router-outlet>
      </div>
      <div fxFlex="24px" id="areaFooter">Abajito</div>

    </div>
  </mat-drawer-container>

</div>