<div class="d-flex flex-column p-2 nom-xs" *ngIf="(authService.user|async)">
    <div class="d-flex flex-wrap pt-2 pb-0 align-self-center" *ngIf="prestamos?.length>0; else noHayPrestamos">
      <ngx-loading [show]="cBusy"></ngx-loading>
  
    </div>
    <ng-template class="d-flex flex-column" #noHayPrestamos>
      <div *ngIf="cBusy==false" class="d-flex flex-column pt-4">
        <span><i class="fas fa-times-circle text-danger"></i>&nbsp;No hay préstamos.</span>
        <small *ngIf="cBusy==false">Solicite información de préstamos directamente a su empleador.</small>
      </div>
      <div *ngIf="cBusy" class="pt-4 d-flex flex-column align-items-center align-content-center justify-content-center d-block">
        <span class="fa-stack fa-2x">
          <i class="fas fa-spinner fa-stack-2x fa-pulse text-primary"></i>
          <i class="fas fa-sync fa-stack-1x fa-spin text-success"></i>
        </span>
        <span class="text-primary p-3">
          <strong>
            <i>consultando...</i>
          </strong>
        </span>
      </div>
    </ng-template>
  </div>
  