table.mat-table {
  width: 100%;
}
td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 2px;
}
td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  padding-right: 2px;
}
tr.mat-header-row,
tr.mat-row {
  height: 32px;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: left;
  font-size: 8pt;
}
.mat-expansion-panel-header,
.mat-expansion-panel-body {
  padding: 0 10px !important;
}
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}
.mat-slider-thumb {
  transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-option {
  font-size: 14px !important;
  height: 26px !important;
  line-height: 26px !important;
}

.mat-select {
  font-size: 14px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.mat-column-xUsuario {
  font-size: 12px;
}

.pista {
  border-radius: 6px;
  border: 0.5px solid #99f;
  background-color: #ccf;
}

.pistaic {
  transform: scale(0.8);
  cursor: pointer;
}

.pistaic0 {
  transform: scale(0.85);
  padding: 0 8px;
  cursor: pointer;
}

.dedo {
  fill: none;
  stroke: #ac9393;
  stroke-width: 2.83364058;
  stroke-opacity: 1;
}
.dedoSi {
  fill:#8d5454;
}

.pap-empleado-port{
  height: 200px;
  width:266px;
  border: 1px solid #777;
}

.pap-empleado-item{
  height:20px;
  border-bottom:1px solid #dedede;
}

.pap-empleado-row{
  font-size:11px;
}

.pap-empleado-selected{
  background-color:#999;
}