<div fxFlex="fxFlex" fxFill="fxFill" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="800px">
    <nom-select fxFlex="fxFlex" lista="personas" (seleccion)="onSelect($event)" [anexos]="parEmpleados" clave="cCodigoEmpleado"
      cantidad="12" [mostrar]="['xApellidos', 'xNombre']"></nom-select>
    <mat-progress-bar mode="indeterminate" *ngIf="listando || buscando"></mat-progress-bar>
    <mat-accordion *ngIf="empleado" multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <mat-icon svgIcon="account"></mat-icon>
            <span> {{ empleado.xApellidos + " " + empleado.xNombre }} </span>
          </mat-panel-title>
          <mat-panel-description>
            {{ empleado.cCodigoEmpleado }} - {{ empleado.xEmail }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent="matExpansionPanelContent">
          <div fxFlex="fxFlex" fxLayout="column" fxLayoutAlign="start center">
            <table>
              <tr *ngFor="let mail of lstCuentas">
                <td>{{ mail }}</td>
                <td>
                  <mat-icon class="manito" (click)="delCuenta(mail)" svgIcon="trash-can-outline" *ngIf="!mail.includes('@uladech.')"></mat-icon>
                </td>
              </tr>
              <tr *ngIf="libreDeGoogles()">
                <td>
                  <mat-form-field fxFlex="1 1 100%">
                    <input matInput="matInput" type="mail" [formControl]="cuentaGoogle" placeholder="agregar cuenta" />
                    <label matSuffix="matSuffix">@gmail.com</label>
                  </mat-form-field>
                </td>
                <td>
                  <mat-icon svgIcon="check" (click)="addCuenta()" *ngIf="cuentaGoogle.value && cuentaGoogle.value.length > 4">
                  </mat-icon>
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <mat-icon svgIcon="calendar-today"></mat-icon>
            <span>Diario de Asistencia</span>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="6px" style="background-color: #e0e0e0; padding: 6px;">
            <mat-calendar [dateClass]="marcaMes" [selected]="selDia" (selectedChange)="chDiaMes($event)" [maxDate]="hoy"></mat-calendar>
            <div fxFlex fxLayoutGap="4px" fxLayout="column" style="background-color: white; border-radius:8px; margin: 5px; padding: 3px; border: 1px solid #eee;">
              <div fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
                <div *ngIf="!diario.oAsistencia" fxFlex fxLayoutAlign="center center" fxLayout="column">
                  <span>No se cargó horario para
                    {{ selDia.format("MMM DD [de] YYYY") }}</span>
                </div>
                <div fxFlex *ngIf="diario&&diario.oAsistencia" fxLayout="column" fxLayoutAlign="start stretch">
                  <div fxFlex *ngIf="diario.oAsistencia && diario.oAsistencia.aFlujo.length>0"
                    fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="3px">
                    <div style="border-bottom: 2px solid #bbb" fxFlexAlign="stretch">
                      Horario para
                      <strong>{{ selDia.format("MMM DD [de] YYYY") }}</strong>
                    </div>
                    <div>
                      <div fxLayout="row" style="font-size:11px;color:#555;">
                        <div fxFlex>Control</div>
                        <div fxFlex="42px" fxFlexAlign="center">Horario</div>
                        <div fxFlex="42px" fxFlexAlign="center">Marcado</div>
                        <div fxFlex="30px"></div>
                        <div fxFlex="30px">Inc</div>
                        <div fxFlex>Papeleta</div>
                      </div>
                    </div>
                    <div *ngFor="let flu of diario.oAsistencia.aFlujo">
                      <div fxLayout="row">
                        <div fxFlex>{{ flu.xControl }}</div>
                        <div fxFlex="42px" fxFlexAlign="center">
                          {{ flu.dHoraHorario | date:'HH:mm' }}
                        </div>
                        <div fxFlex="48px" fxFlexAlign="center">
                          {{ flu.dHoraControl | date:'HH:mm:ss' }}
                        </div>
                        <div fxFlex="30px">
                          <span class="badge-marca" *ngIf="flu.iMarcacion > 0">
                            {{ flu.iMarcacion % 10000 }}</span>
                        </div>
                        <div fxFlex="30px" [matTooltip]="flu.xIncidencia">
                          <span *ngIf="flu.sIncidencia > 0">{{
                            flu.sIncidencia
                            }}</span>
                        </div>
                        <div fxFlex>
                          <span *ngIf="flu.bTipoPapeleta">{{ flu.bTipoPapeleta }}-{{ flu.iPapeleta }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="50px" *ngIf="diario.oAsistencia" fxLayout="row" fxLayoutGap="6px">
                    <div fxFlex fxLayout="column">
                      <div *ngIf="diario.oAsistencia.fDescuento">
                        Descuento:
                        {{ diario.oAsistencia.fDescuento | number: "1.3-3" }}h
                      </div>
                      <div *ngIf="diario.oAsistencia.fExtra">
                        Extras:
                        {{ diario.oAsistencia.fExtra | number: "1.3-3" }}h
                      </div>
                      <div *ngIf="diario.oAsistencia.iCalculoPlanilla">
                        Pagado
                      </div>
                    </div>
                    <div fxFlex fxLayout="column" fxFill fxLayoutAlign="center center">
                      <button mat-button fxLayout="row" fxLayoutAlign="center center" (click)="revaluar()">
                        <mat-icon svgIcon="timetable"></mat-icon><span> Incidencias</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="150px" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="diario.oAsistencia">
                  <div style="border-bottom: 2px solid #bbb" fxFlexAlign="center" fxFlexAlign="stretch" fxFlex="22px">
                    Marcaciones
                  </div>
                  <div fxFlex style="font-size:12px;overflow-y:auto;">
                    <div *ngFor="let cmar of diario.aMarcacion" fxLayout="column">
                      <div fxLayout="row">
                        <div fxFlex>
                          <span >{{ cmar.dHora | date: "dd/MM/yyyy HH:mm:ss" }}</span>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start stretch" style="font-size:7pt;">
                        <div fxFlex>
                          <div [matTooltip]="cmar.xEstablecimiento">
                            <strong>{{ cmar.xDispositivo }}</strong>
                          </div>
                        </div>
                        <div>
                            <span class="badge-marca" *ngIf="cmar.iMarcacion > 0">
                                {{ cmar.iMarcacion % 10000 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="Agregar (HH:mm:ss)" mask="Hh:m0:s0" [formControl]="nvaMarca" />
                    <mat-icon matSuffix class="manito" svgIcon="alarm-plus"></mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <mat-icon svgIcon="file-document"></mat-icon>
            <span>Papeletas</span>
          </mat-panel-title>
          <!-- <mat-panel-description></mat-panel-description> -->
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxLayout="row">
            <div fxLayout="column">
              <cdk-virtual-scroll-viewport class="pap-empleado-port" itemSize="20">
                <div *cdkVirtualFor="let cpap of indicePapeletas" class="pap-empleado-item manito" (click)="chPapeleta(cpap)"
                  [class.pap-empleado-selected]="
                    selPapeleta &&
                    cpap.bTipoPapeleta === selPapeleta.bTipoPapeleta &&
                    cpap.iPapeleta === selPapeleta.iPapeleta
                  ">
                  <div fxLayout="row" class="pap-empleado-row">
                    <div fxFlex="65px">
                      {{ cpap.bTipoPapeleta }}-{{ cpap.iPapeleta }}
                    </div>
                    <div fxFlex="60px">
                      {{ cpap.dCreacion | date: "dd/MM/yyyy" }}
                    </div>
                    <div fxFlex fxFlexAlign="start">
                      <small>{{ cpap.xTipoPapeleta }}</small>
                    </div>
                  </div>
                </div>
              </cdk-virtual-scroll-viewport>
            </div>
            <div fxFlex fxLayout="row" fxLayoutGap="6px">
              <div fxLayout="column" *ngIf="resolucion&&resolucion.length>0">
                <div>Resolucion</div>
                <div fxFlex fxLayout="column">
                  <div *ngFor="let cres of resolucion" fxLayout="row" style="border-bottom: 1px solid #ddd;">
                    <div fxFlex="70px">{{cres.xControl}}</div>
                    <div fxFlex="60px">{{cres.dFecha | date:'dd/MM/yy'}} </div>
                    <div fxFlex="60px">{{cres.dResolucion}}</div>
                  </div>
                </div>
              </div>
              <div fxLayout="column" *ngIf="flujoPapeleta&&flujoPapeleta.length>0">
                <div>Flujo</div>
                <div fxFlex fxLayout="column">
                  <div *ngFor="let cflu of flujoPapeleta" fxLayout="column" style="border-bottom: 1px solid #ddd;">
                    <div fxLayout="row">
                      <div fxFlex="30px">{{cflu.cTipoFlujo}}</div>
                      <div fxFlex="60px">{{cflu.dFlujo | date:'dd/MM/yy'}}</div>
                      <div fxFlex="80px">{{cflu.name}}</div>
                    </div>
                    <div>{{cflu.xObservacion}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <mat-icon svgIcon="fingerprint"></mat-icon>
            <span>Huellas y voces</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div fxFlex="fxFlex" fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex="1 1 40%" class="t-md">
              <div fxFlex="fxFlex" fxLayout="column" fxLayoutAlign="start stretch">
                <div style="border-bottom: 2px solid #bbb" class="manito" (click)="rxRecluta()">
                  Huellas
                </div>
                <svg viewBox="0 0 200 120" height="120" width="200">
                  <g transform="translate(0,-1002.5196)">
                    <ellipse transform="matrix(0.91380192,-0.40616014,0.23571215,0.97182292,0,0)" ry="18.134947" rx="5.2282901"
                      cy="1000.4561" cx="-236.64117" id="dedo0" class="dedo" [class.dedoSi]="fingerprint(0)"></ellipse>
                    <ellipse transform="matrix(0.98891119,-0.1485081,0.15739923,0.98753505,0,0)" ry="23.923573" rx="5.5014133"
                      cy="1046.5457" cx="-132.84883" id="dedo1" class="dedo" [class.dedoSi]="fingerprint(1)"></ellipse>
                    <ellipse ry="28.237455" rx="5.39814" cy="1048.2852" cx="51.447094" id="dedo2" class="dedo"
                      [class.dedoSi]="fingerprint(2)"></ellipse>
                    <ellipse transform="matrix(-0.96840143,-0.24939661,-0.27301185,0.96201067,0,0)" ry="24.836641" rx="5.4993167"
                      cy="1003.5016" cx="-356.022" id="dedo3" class="dedo" [class.dedoSi]="fingerprint(3)"></ellipse>
                    <ellipse transform="matrix(-0.90324075,-0.42913418,-0.53018284,0.84788334,0,0)" ry="20.973259" rx="7.4378762"
                      cy="957.33252" cx="-650.2157" id="dedo4" class="dedo" [class.dedoSi]="fingerprint(4)"></ellipse>
                    <ellipse transform="matrix(-0.91380192,-0.40616014,-0.23571215,0.97182292,0,0)" ry="18.134947" rx="5.2282901"
                      cy="915.92773" cx="-439.0798" id="dedo9" class="dedo" [class.dedoSi]="fingerprint(9)"></ellipse>
                    <ellipse transform="matrix(-0.98891119,-0.1485081,-0.15739923,0.98753505,0,0)" ry="23.923573" rx="5.5014138"
                      cy="1016.1873" cx="-335.22781" id="dedo8" class="dedo" [class.dedoSi]="fingerprint(8)"></ellipse>
                    <ellipse transform="scale(-1,1)" ry="28.237455" rx="5.39814" cy="1048.3595" cx="-153.46606" id="dedo7"
                      class="dedo" [class.dedoSi]="fingerprint(7)"></ellipse>
                    <ellipse transform="matrix(0.96840143,-0.24939661,0.27301185,0.96201067,0,0)" ry="24.836641" rx="5.4993167"
                      cy="1054.6927" cx="-158.855" id="dedo6" class="dedo" [class.dedoSi]="fingerprint(6)"></ellipse>
                    <ellipse transform="matrix(0.82005736,-0.57228133,0.5793716,0.81506352,0,0)" ry="20.856941" rx="7.1205606"
                      cy="964.29901" cx="-534.17249" id="dedo5" class="dedo" [class.dedoSi]="fingerprint(5)"></ellipse>
                  </g>
                </svg>
              </div>
            </div>
            <div fxFlex="1 1 60%" class="t-md" fxLayout="row" fxLayoutAlign="start stretch">
              <div *ngIf="voces" fxFlex="fxFlex" fxLayout="column" fxLayoutAlign="start stretch">
                <div style="border-bottom: 2px solid #bbb" class="manito" (click)="rxRecluta()">
                  Voces
                </div>
                <div *ngFor="let cvz of voces">
                  <div>{{ cvz.xFrase }}</div>
                  <div class="t-xs" style="border-bottom: 1px solid #c9c9c9" fxLayout="row wrap" fxLayoutAlign="start stretch">
                    <div *ngIf="!cvz.lAbierto">
                      <mat-icon style="color:darkgreen;" svgIcon="voice" class="pistaic0" (click)="liberar(cvz.bFrase)"></mat-icon>
                    </div>
                    <div *ngIf="cvz.lAbierto">
                      <mat-icon style="color:darkred;" svgIcon="square-medium" class="pistaic0" (click)="liberar(cvz.bFrase)"></mat-icon>
                    </div>
                    <div flex="6px"></div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2px" *ngIf="cvz.aFingerPrints && cvz.aFingerPrints.length > 0">
                      <div class="pista" *ngFor="let fp of cvz.aFingerPrints" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon svgIcon="bullhorn" class="pistaic" (click)="sonar(cvz.bFrase, fp.iFingerPrint)"></mat-icon>
                        <mat-icon svgIcon="close" class="pistaic" (click)="borrar(cvz.bFrase, fp.iFingerPrint)"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
