.nom-header {
    height: 50px !important;
    background-color: #6cbd6c;
}

.nom-aside {
    position: absolute;
    overflow-x: hidden;
    background-color: #000066;
    z-index: 999;
}

.nom-footer {
    background-color: #2f5c0c;
}

.nom-opaco {
    position: absolute;
    background-color: white;
    height: 100%;
    z-index: 998;
}
