:host {
  position: absolute;
  left: 0;
  top: 0;
  background-color: navy;
  color: #dddddd;
  height: 100%;
  display: block;
}

.menu-item {
  padding: 2px 6px 1px 4px;
  min-width: 230px;
  font-size: 10pt;
  font-weight: 600;
}

.menu-item-select {
  color: #38387a;
  background-color: #ccf;
}

.menu-item:hover {
  background-color: #0606bd;
  color: white;
  cursor: pointer;
}
.mat-icon {
  transform: scale(0.75);
}
