.rene-bgVerdeLight{ 
    background-color: #b1dd90;
}
.rene-bgVerde{
    background-color: #75cc33;
}
.rene-bgVerdeDark{
    background-color: #2f5c0c;
}
.rene-bgAzul {
    background-color:#3b748f;
}
.rene-bgAzulLight {
    background-color:#94b4c4;
}
.rene-bgAzulDark{
    background-color: #113c50;
}
.rene-verdeLight{ 
    color: #b1dd90;
}
.rene-verde{
    color: #75cc33;
}
.rene-verdeDark{
    color: #2f5c0c;
}
.rene-azul {
    color:#3b748f;
}
.rene-azulLight {
    color:#94b4c4;
}
.rene-azulDark{
    color: #113c50;
}

.rene-silverLight{
    color: #bbb;
}

.rene-menuFlot{
    position:absolute;
    overflow: hidden;
    background-color: #113c50;
    left: 54px;
    top: 10px;
    max-width: 0;
    z-index: 999;
}
.rene-botonFlot{
    position:absolute;
    color: #113c50;
    top: 10px;
    z-index:999;
    cursor: pointer;
}

.nav-link, .rene-fontMenu{
    color: #aaa;
}

.nav-link:hover{
 color:white;
}

.link-active{
    color: #ddd;
    background-color: #204c61;

}

.form-group,.input-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0px 5px 0px 5px;
    transition: all 200ms;
    opacity: 0.5;
    background-color: white;
  }
  
  .custom-select-sm:focus + .form-control-placeholder,
  .custom-select-sm:valid + .form-control-placeholder,

  .form-control-sm:focus + .form-control-placeholder,
  .form-control-sm:valid + .form-control-placeholder,
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

  .ng-valid[required], .ng-valid.required  {
    border-right: 4px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-right: 4px solid #a94442;
  }

  .form-control-invalid {
    text-decoration: none;
    margin-left:3px;
    margin-right: 2px;
    color: darkred;
    font-size: 7pt;
    font-weight: 700;
  }

  .text-gray{
      color: gray;
  }

  .nom-fcorta{
      font-size: 7pt;
  }

  .nom-noleido{
      font-weight: 400;
      border-bottom: 1px solid darksalmon; 
      background-color: beige;
  }
  .nom-leido{
    font-weight: 700;
    border-bottom: 1px solid gray;
    background-color: white;
  }

  .nom-marco{
      max-width: 800px;
  }
  