mat-option {
  font-size: 14px !important;
  height: 26px !important;
  line-height: 26px !important;
}

mat-select {
  font-size: 14px !important;
  height: 20px !important;
  line-height: 20px !important;
}

mat-expansion-panel {
  border-radius: 4px !important;
}

mat-panel-description {
  text-align: right !important;
}

.grupo {
  font-size: 14px;
  font-weight: 600px;
}

.rotar90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.mat-expansion-panel-header{
  padding: 0 12px;
}
