$verdeEnClaro: #006000;
$azulEnClaro: #000060;
$verdeEnOscuro: #00a000;
$azulEnOscuro: #0000a0;
$fontEnOscuro0: #e0e0e0;
$fontEnOscuro2: #b7b7b7;
$fontEnOscuro4: #909090;
$colorEnNeutro: #808080;
$fontEnClaro4: #707070;
$fontEnClaro2: #484848;
$fontEnClaro0: #202020;
$verdeBackground0: #d0ffd0;
$azulBackground0: #d0d0ff;
$verdeBackground2: #b0e0b0;
$azulBackground2: #b0b0e0;
$verdeTapiz: #003000;
$azulTapiz: #000030;
